{% extends "base.html" %}


{% block html_head %}
<style>
	@import url(http://fonts.googleapis.com/css?family=Pacifico|Chewy|Dancing+Script:400,700);

	html {
		font-size: 62.5%;
	}

	body {
		background-color: #eee;
	}

	#header h1 {
		font-family: Pacifico; 
		font-size: 42px;
		font-size: 4.2rem;	
		color: #7FBA02;
		margin: 10px 0 20px 0;
	    text-align: center;
	}

	#header h1 a {
		color: #7FBA02;
	}
	
	#header h1 a:hover {
		color: #5f8b01;
	}

	#content {
	    background-color: #FFFFFF;
	    border: 1px solid #E2E2E2;
	    box-shadow: 0 2px 2px #DDDDDD;
	    color: #666666;
	    padding-right: 0px;
	    padding-bottom: 40px;
		position: relative;		
	}
	
	.booking_photos {
		padding: 8px;
		background: #eee;
		border: 1px solid #fff;
		box-shadow: 0px 2px 10px #333;
		-moz-box-shadow: 0px 2px 10px #333;
		-webkit-box-shadow: 0px 2px 10px #333;
		position: relative;
		margin: 0 0 0 25px;
		/*
		-webkit-transform: rotate(-1.5deg);
		-moz-transform: rotate(-1.5deg);
		*/
	}
	
	.sosumi {
		font-size:10px; 
		color: #aaa;
	}
	
</style>
{% endblock %}


{% block title %}
Book - SpaStalker
{% endblock %}


{% block body %}
<div class="container">

	<!-- HEADER -->
	<div id="header" class="row">
		<div class="twelve columns">
			<h1><a href="/">SpaStalker</a></h1>
		</div>
	</div>

	<!-- CONTENT -->
	<div id="content" class="row">
    	<div class="twelve columns">
			<div class="one columns"></div>
			<div class="ten columns"><br><br>
			<p><img src="/static/fakedata/DMB/interior02.jpg" class="booking_photos" width="300" align="right">
		
				<h2 style="color: #027FB9;">Swedish Massage - $100</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla sem sed nibh venenatis placerat. Mauris eu nulla eu tellus pulvinar aliquet in ac metus. Proin scelerisque pellentesque eros, nec porta purus convallis in. Sed pellentesque tempor neque id imperdiet. Phasellus cursus lacinia augue eu eleifend.</p>

				<center><a href="/confirmation" class="large nice round red button">Yeah, book it!</a></center><br><br>
		
				<hr>
				
				<p class="sosumi">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla sem sed nibh venenatis placerat. Mauris eu nulla eu tellus pulvinar aliquet in ac metus. Proin scelerisque pellentesque eros, nec porta purus convallis in. Sed pellentesque tempor neque id imperdiet. Phasellus cursus lacinia augue eu eleifend. Vestibulum vitae sapien vel leo ornare ultrices. Vivamus id tortor tortor. Vestibulum tempus, libero at pretium euismod, turpis velit mollis erat, vitae suscipit sapien neque vitae mi.</p>
				</div>
			<div class="one columns"></div>
    	</div>
	</div>

	<!-- FOOTER -->
	<div class="row">
		<div class="twelve columns"><br><br>

		</div>
	</div>

</div><!-- container -->
{% endblock %}