{% extends "base.html" %}
{% block title %}Spa Calendar{% endblock %}
{% block html_head %}
<link rel="stylesheet" href="/static/calendar.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Pacifico|Chewy|Dancing+Script:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript">

$(function(){

        function build_trenches() {
{% for trench, treats in trenches %}
            var trenche = $("#trench_{{ trench }}_div");
    {% for treatment in treats %}
            trenche.append("{{ treatment }}<br>");
{% endfor %}{% endfor %}
        }

        build_trenches();

    $( "#from_date_cal" ).datepicker({
        minDate: "+0D",
        showOtherMonths: true,
        selectOtherMonths: true,
        altField: '#from_date'
    });

    $( "#to_date_cal" ).datepicker({
        minDate: "+0D",
        showOtherMonths: true,
        selectOtherMonths: true,
        altField: '#to_date'
    });

});

</script>
{% endblock %}
{% block body %}
<img id="background" src="/static/bg/537183095_9b2abcba55_b.jpg">
<div class="container">

<div class="row"><div class="twelve columns">
  <h1 class="arch">SpaStalkers</h1>
  <h2>spa_name</h2>
</div></div>

<form method="POST" action="#" class="nice">{% csrf_token %}

<div class="row"><div class="twelve columns centered">
<div id="location" class="main">
	<h1>Where</h1>
    <ul class="block-grid mobile four-up">
    {% for loc in locations %}
        <li>
            <label for="{{ loc.label }}">
                <input name="{{ loc.label }}" id="{{ loc.label }}" type="checkbox" />
                {{ loc.name }}
            </label>
        </li>
    {% endfor %}
    </ul>
    Wants pawn term, dare worsted ladle gull hoe lift wetter murder inner
    ladle cordage, honor itch offer lodge dock florist. Disk ladle gull
    orphan worry ladle cluck wetter putty ladle rat hut, an fur disk
    raisin pimple colder Ladle Rat Rotten Hut.
</div>
</div></div>

<div class="row"><div class="twelve columns centered">
<div id="treatments" class="main">
	<h1>What</h1>
    <ul id="trenches" class="block-grid mobile three-up">
      {% for trench, treats in trenches %}
        <li>
              <label for="trench_{{ trench }}">
                <input name="trench_{{ trench }}" id="trench_{{ trench }}" type="checkbox" />
                {{ trench }}<br>
                <div id="trench_{{ trench }}_div" class="trenche_list"></div>
              </label>
        </li>
      {% endfor %}
    </ul>
    Wan moaning, Rat Rotten Hut's murder colder inset, "Ladle Rat Rotten
    Hut, heresy ladle basking winsome burden barter an shirker cockles.
    Tick disk ladle basking tutor cordage offer groin-murder hoe lifts
    honor udder site offer florist. Shaker lake! Dun stopper laundry
    wrote! An yonder nor sorghum-stenches, dun stopper torque wet
    strainers!"
</div>
</div></div>

<div class="row"><div class="twelve columns centered">
<div id="time" class="main">
	<h1>When</h1>

	<div class="row">
	  <div class="six columns">
	    <h3>Date From:</h3>
        <div id="from_date_cal"></div>
        <input name="from_date" id="from_date" type="hidden" />
      </div>
	  <div class="six columns">
	    <h3>Date To:</h3>
        <div id="to_date_cal"></div>
        <input name="to_date" id="to_date" type="hidden" />
      </div>
    </div>

    "Hoe-cake, murder," resplendent Ladle Rat Rotten Hut, an tickle ladle
    basking an stuttered oft. Honor wrote tutor cordage offer
    groin-murder, Ladle Rat Rotten Hut mitten anomalous woof. "Wail,
    wail, wail!" set disk wicket woof, "Evanescent Ladle Rat Rotten Hut!
    Wares are putty ladle gull goring wizard ladle basking?"

	<div class="row">
	  <div class="six columns">
	    <h3>Time From:</h3>
<select name="from_time">
<option value="05:00" selected="selected">5:00 AM</option>
<option value="05:15">5:15 AM</option>
<option value="05:30">5:30 AM</option>
<option value="05:45">5:45 AM</option>
<option value="06:00">6:00 AM</option>
<option value="06:15">6:15 AM</option>
<option value="06:30">6:30 AM</option>
<option value="06:45">6:45 AM</option>
<option value="07:00">7:00 AM</option>
<option value="07:15">7:15 AM</option>
<option value="07:30">7:30 AM</option>
<option value="07:45">7:45 AM</option>
<option value="08:00">8:00 AM</option>
<option value="08:15">8:15 AM</option>
<option value="08:30">8:30 AM</option>
<option value="08:45">8:45 AM</option>
<option value="09:00">9:00 AM</option>
<option value="09:15">9:15 AM</option>
<option value="09:30">9:30 AM</option>
<option value="09:45">9:45 AM</option>
<option value="10:00">10:00 AM</option>
<option value="10:15">10:15 AM</option>
<option value="10:30">10:30 AM</option>
<option value="10:45">10:45 AM</option>
<option value="11:00">11:00 AM</option>
<option value="11:15">11:15 AM</option>
<option value="11:30">11:30 AM</option>
<option value="11:45">11:45 AM</option>
<option value="12:00">12:00 PM</option>
<option value="12:15">12:15 PM</option>
<option value="12:30">12:30 PM</option>
<option value="12:45">12:45 PM</option>
<option value="13:00">1:00 PM</option>
<option value="13:15">1:15 PM</option>
<option value="13:30">1:30 PM</option>
<option value="13:45">1:45 PM</option>
<option value="14:00">2:00 PM</option>
<option value="14:15">2:15 PM</option>
<option value="14:30">2:30 PM</option>
<option value="14:45">2:45 PM</option>
<option value="15:00">3:00 PM</option>
<option value="15:15">3:15 PM</option>
<option value="15:30">3:30 PM</option>
<option value="15:45">3:45 PM</option>
<option value="16:00">4:00 PM</option>
<option value="16:15">4:15 PM</option>
<option value="16:30">4:30 PM</option>
<option value="16:45">4:45 PM</option>
<option value="17:00">5:00 PM</option>
<option value="17:15">5:15 PM</option>
<option value="17:30">5:30 PM</option>
<option value="17:45">5:45 PM</option>
<option value="18:00">6:00 PM</option>
<option value="18:15">6:15 PM</option>
<option value="18:30">6:30 PM</option>
<option value="18:45">6:45 PM</option>
<option value="19:00">7:00 PM</option>
<option value="19:15">7:15 PM</option>
<option value="19:30">7:30 PM</option>
<option value="19:45">7:45 PM</option>
<option value="20:00">8:00 PM</option>
<option value="20:15">8:15 PM</option>
<option value="20:30">8:30 PM</option>
<option value="20:45">8:45 PM</option>
<option value="21:00">9:00 PM</option>
</select>
      </div>
	  <div class="six columns">
	    <h3>Time To:</h3>
<select name="to_time">
<option value="05:00">5:00 AM</option>
<option value="05:15">5:15 AM</option>
<option value="05:30">5:30 AM</option>
<option value="05:45">5:45 AM</option>
<option value="06:00">6:00 AM</option>
<option value="06:15">6:15 AM</option>
<option value="06:30">6:30 AM</option>
<option value="06:45">6:45 AM</option>
<option value="07:00">7:00 AM</option>
<option value="07:15">7:15 AM</option>
<option value="07:30">7:30 AM</option>
<option value="07:45">7:45 AM</option>
<option value="08:00">8:00 AM</option>
<option value="08:15">8:15 AM</option>
<option value="08:30">8:30 AM</option>
<option value="08:45">8:45 AM</option>
<option value="09:00">9:00 AM</option>
<option value="09:15">9:15 AM</option>
<option value="09:30">9:30 AM</option>
<option value="09:45">9:45 AM</option>
<option value="10:00">10:00 AM</option>
<option value="10:15">10:15 AM</option>
<option value="10:30">10:30 AM</option>
<option value="10:45">10:45 AM</option>
<option value="11:00">11:00 AM</option>
<option value="11:15">11:15 AM</option>
<option value="11:30">11:30 AM</option>
<option value="11:45">11:45 AM</option>
<option value="12:00">12:00 PM</option>
<option value="12:15">12:15 PM</option>
<option value="12:30">12:30 PM</option>
<option value="12:45">12:45 PM</option>
<option value="13:00">1:00 PM</option>
<option value="13:15">1:15 PM</option>
<option value="13:30">1:30 PM</option>
<option value="13:45">1:45 PM</option>
<option value="14:00">2:00 PM</option>
<option value="14:15">2:15 PM</option>
<option value="14:30">2:30 PM</option>
<option value="14:45">2:45 PM</option>
<option value="15:00">3:00 PM</option>
<option value="15:15">3:15 PM</option>
<option value="15:30">3:30 PM</option>
<option value="15:45">3:45 PM</option>
<option value="16:00">4:00 PM</option>
<option value="16:15">4:15 PM</option>
<option value="16:30">4:30 PM</option>
<option value="16:45">4:45 PM</option>
<option value="17:00">5:00 PM</option>
<option value="17:15">5:15 PM</option>
<option value="17:30">5:30 PM</option>
<option value="17:45">5:45 PM</option>
<option value="18:00" selected="selected">6:00 PM</option>
<option value="18:15">6:15 PM</option>
<option value="18:30">6:30 PM</option>
<option value="18:45">6:45 PM</option>
<option value="19:00">7:00 PM</option>
<option value="19:15">7:15 PM</option>
<option value="19:30">7:30 PM</option>
<option value="19:45">7:45 PM</option>
<option value="20:00">8:00 PM</option>
<option value="20:15">8:15 PM</option>
<option value="20:30">8:30 PM</option>
<option value="20:45">8:45 PM</option>
<option value="21:00">9:00 PM</option>
</select>
      </div>
    </div>

<input type="submit" id="mark_available" value="Mark Available" class="nice round small blue button">
</div>
</div></div>

</form>

</div><!-- container -->
{% endblock %}










