{% extends "base.html" %}

{% block title %}
    SpaStalkers - Find spas, salons, massages
{% endblock %}

{% block html_head %}
<link rel="stylesheet" href="/dyn/search.css" type="text/css">
{% endblock %}

{% block body %}
<img id="background">

<div class="container">

	<!-- HEADER -->
	<div class="row">
		<div class="twelve columns">
			<h1 style="color: #7FBA02; text-shadow: 1px 1px 1px #000; font-family: Pacifico; margin: 7px 0 0 50px;">SpaStalkers</h1>
		</div>
	</div>

	  <!-- CONTENT -->
	  <div class="row" style="background-color: #DCE9BE; border-top: 7px solid #5f8b01;">
	    <div class="ten columns centered"><br><br>
			<h1>We're processing your order.</h1>
			<h4>Psst... share your appointment with your friends or check out some other spas.</h4>
			<br><br>
			<div class="row">
				<div class="twelve columns">
					<div class="row">
						<div class="four columns">
							<img src="/static/fakedata/DMB/services01.jpg">
							<h4>Stone massage for $50</h4>
						</div>
						<div class="four columns">
							<img src="/static/fakedata/DMB/services03.jpg">
							<h4>Facials for $30</h4>
						</div>
						<div class="four columns">
							<img src="/static/fakedata/DMB/services02.jpg">
							<h4>Haircuts for $30</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	   </div>	
	
		<!-- FOOTER -->
		<div class="row" style="background-color: #eee;">
			<div class="twelve columns">
				<div class="row">
					<div class="four columns">
						<h4>HOME</h4>
						<hr>
						<ul>
							<li><a href="">Lorem ipsum</a></li>
							<li><a href="">Lorem ipsum</a></li>
						</ul>
					</div>
					<div class="four columns">
						<h4>SERVICES</h4>
						<hr>
						<ul>
							<li><a href="">Lorem ipsum</a></li>
							<li><a href="">Lorem ipsum</a></li>
						</ul>
					</div>
					<div class="four columns">
						<h4>LOCATIONS</h4>
						<hr>
						<ul>
							<li><a href="">Lorem ipsum</a></li>
							<li><a href="">Lorem ipsum</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	
</div><!-- container -->
{% endblock %}


<!-- 

1. Email receipt
2. Share with friends

-->