{% extends "base.html" %}


{% block html_head %}
<style>
	@import url(http://fonts.googleapis.com/css?family=Pacifico|Chewy|Dancing+Script:400,700);

	html {
		font-size: 62.5%;
	}

	body {
		background-color: #eee;
	}

	#header h1 {
		font-family: Pacifico; 
		font-size: 42px;
		font-size: 4.2rem;	
		color: #7FBA02;
		margin: 10px 0 20px 0;
	    text-align: center;
	}
	
	#header h1 a {
		color: #7FBA02;
	}
	
	#header h1 a:hover {
		color: #5f8b01;
	}

	#content {
	    background-color: #FFFFFF;
	    border: 1px solid #E2E2E2;
	    box-shadow: 0 2px 2px #DDDDDD;
	    color: #666666;
	    padding-right: 0px;
	    padding-bottom: 40px;
		position: relative;		
	}
</style>
{% endblock %}


{% block title %}
Confirm - SpaStalker
{% endblock %}


{% block body %}
<div class="container">

	<!-- HEADER -->
	<div id="header" class="row">
		<div class="twelve columns">
			<h1><a href="/">SpaStalker</a></h1>
		</div>
	</div>

	<!-- CONTENT -->
	<div id="content" class="row">
    	<div class="twelve columns">
			<div class="one columns"></div>
		    <div class="ten columns"><br><br>
			<h2 style="color: #027FB9;">Order confirmed!</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla sem sed nibh venenatis placerat. Mauris eu nulla eu tellus pulvinar aliquet in ac metus.</p>
<br>
			<h3 style="color: #027FB9;">Check out these other great deals.</h3>
			<div class="row">
				<div class="twelve columns">
					<div class="row">
						<div class="four columns">
							<img src="/static/fakedata/DMB/services01.jpg">
							<center><strong>Stone massage for $50</strong></center>
						</div>
						<div class="four columns">
							<img src="/static/fakedata/DMB/services03.jpg">
							<center><strong>Facials for $30</strong></center>
						</div>
						<div class="four columns">
							<img src="/static/fakedata/DMB/services02.jpg">
							<center><strong>Haircuts for $30</strong></center>
						</div>
					</div>
				</div>
			</div>
			
			<div class="one columns"></div>
		</div>
	</div>	
	
	<!-- FOOTER -->
	<div class="row">
		<div class="twelve columns"><br><br>

		</div>
	</div>

</div><!-- container -->
{% endblock %}