{% extends "base.html" %}
{% block html_head %}
<script type="text/javascript" src="/static/js/bbone/underscore.js"></script>
<script type="text/javascript" src="/static/js/bbone/backbone.js"></script>
<link rel="stylesheet/less" href="/static/dashboard.less" type="text/css">
<script src="/static/js/less.js" type="text/javascript"></script>
<script src="/static/js/jquery.tmpl.js" type="text/javascript"></script>
<script src="/static/js/knockout-1.2.1.debug.js" type="text/javascript"></script>
<style>
	@import url(http://fonts.googleapis.com/css?family=Pacifico|Chewy|Dancing+Script:400,700);
	@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,100|Istok+Web|Philosopher);
</style>

<script id="tile_template" type="text/x-jquery-tmpl">{# StaffMember pane_4 #}
<div class="tile">
    <a href="#" data-bind="text:name, click: make_current"></a>
    <span data-bind="visible: extraCost">[!]</span>
    <br>
    <span class="clip" data-bind="text:description"></span>
    <a href="#" class="clip" data-bind="click: remove">Remove</a>
</div>
</script>

<script id="proc_template" type="text/x-jquery-tmpl">
<div class="proc" data-bind="visible:supported">
    <span data-bind="text:name, click:make_current, style: { 'paddingLeft': sub ? '1.75em' : '' }"></span>
</div>
</script>

<script id="proc_category_template" type="text/x-jquery-tmpl">
<div class="proc_display">
    <span data-bind="text:name"></span>
    <p data-bind="template: {name:'proc_template', foreach: treats}"></p>
</div>
</script>

<script id="accordion_proc_template" type="text/x-jquery-tmpl">
<input class="tile" type="checkbox" data-bind="event: {change:toggle}, attr: { id: 'check_' + name, name: 'check_' + name }"/>
<label for="check_{{ treatment }}" data-bind="attr: { for: 'check_' + name }, text:name"></label>
<br>
</script>

<script id="accordion_proc_category_template" type="text/x-jquery-tmpl">
<h3><a href="#" data-bind="text:name"></a></h3>
<div data-bind="template: {name:'accordion_proc_template', foreach: treats}"></div>
</script>

<script type="text/javascript">

//-------------------------------------------------------
// Static Data
//

var TREATMENTS = {{ obj_treatments|safe }};

//-------------------------------------------------------
// View Model
//

var SpaProcedure = function(options) {
    this.name = options.name;
    this.supported = ko.observable(options.supported);
    this.sub = !!options.sub;

    this.toggle = function() {
        this.supported(!this.supported());
    }

    this.make_current = function() {
        viewModel.current_proc(this);
    }
}

// Convert the (server-embedded) JSON to KO models.
_.each(TREATMENTS, function(kind) {
    kind.treats = ko.observableArray(
        _.map(kind.treats, function(n) { return new SpaProcedure(n); })
    )
});

var StaffMember = function(options) {
    this.name = options.name;
    this.description = options.description;
    this.extraCost = options.extraCost;

    this.remove = function() {
        viewModel.stuffs.remove(this);
        if (viewModel.stuffs().length == 0 || viewModel.current() == this) {
            viewModel.current({});
        }
    }

    this.make_current = function() {
        viewModel.current(this);
    }
}

var availableMeals = _.map([      
        { name: 'Billy', description: 'Dry crusts of bread', extraCost: 0 },
        { name: 'Bob', description: 'Fresh bread with cheese', extraCost: 9.95 },
        { name: 'Billy Jo Bob', description: 'Caviar and vintage Dr Pepper', extraCost: 18.50 },
    ],
    function(n, i){ return new StaffMember(n) });

var viewModel = {
    viewing: ko.observable(),
    stuffs: ko.observableArray(availableMeals),
    current: ko.observable(availableMeals[0]),

    treatments: {{ treatments|safe }},
    obj_treatments: ko.observableArray(TREATMENTS),

    current_proc: ko.observable({name:'None Selected'}),

    add_staff_member: function() {
        var name = $("#staff_name").val();
        if (name != "") {
            var newbie = new StaffMember({
                name: name,
                description: 'Bananas and Peanutbutter',
                extraCost: 0.25,
            })
            this.stuffs.push(newbie);
            this.current(newbie);
            $("#staff_name").val('');
        } else {
            $("#staff_name").effect('highlight');
        }
    },
};

viewModel.display_view_name = ko.dependentObservable(function() {
    var viewing = this.viewing();
    return (viewing == 'dash') ? '' : viewing + 1;
}, viewModel);

//-------------------------------------------------------
// View
//

var View = {
    previous_view: 0,
};

viewModel.viewing.subscribe(function(view) {
    $(".indicate").removeClass("indicate");
    $("#" + view + "_link").addClass("indicate");
});

viewModel.viewing.subscribe(_.throttle(function(view) {
    var i = (view == "dash") ? 4 : +view;
    var delta = i - View.previous_view;
    if (!delta) {
        return;
    }
    var leaving = delta < 0 ? 'right' : 'left';
    var arriving = delta < 0 ? 'left' : 'right';
    var panes = $(".pane");

    function f(target, previous, leaving, arriving) {
        if (target == previous) { return };
        var next = previous - (target < previous ? 1 : -1);
        $(panes[previous]).hide("slide", { direction: leaving, }, 150, function() {
            $(panes[next]).show("slide", { direction: arriving }, 150, function() {
                f(target, next, leaving, arriving);
            });
        });
    }
    f(i, View.previous_view, leaving, arriving);
    View.previous_view = i;
},
1000));

//-------------------------------------------------------
// Route URLs.
//

var routey = Backbone.Router.extend({

    routes: {
        "d": "dash",
        "step/:num": "step",
    },

    dash: function() {
        viewModel.viewing("dash");
    },

    step: function(num) {
        num = +num;
        if (num >= 0 && num < 4) {
            viewModel.viewing(num);
        } else {
            routes.navigate("step/0", true);
        }
    },

});

var routes = new routey();

//-------------------------------------------------------
// Fire 'er up!
//

$(function(){

    $(".pane").hide();
    $("#pane_0").show();

    ko.applyBindings(viewModel);
    
    $("button#add_staff").button({
        icons: {primary:'ui-icon-circle-plus'},
        text: false,
    }).click(function(){return false})

    $("#choose").accordion({
        collapsible: true,
        autoHeight: false,
        create: function(event, ui) {
            $(this).accordion("activate", false);
        }
    });
    
    $("input.tile").button();

    if (!Backbone.history.start()) {
        // Default to Step 1.
        routes.navigate("step/0", true);
    }

});
</script>

{% endblock %}
{% block title %}Dashboard - SpaStalker{% endblock %}
{% block body %}
<div class="container">

  <div class="row"><div class="twelve columns">
    <h1 id="logotype"><a href="/">SpaStalker</a></h1>
  </div></div>{# columns row #}

  <div class="row"><div class="twelve columns">
    <div id="crumbs">
    <h3>
    <a id="0_link" href="#step/0">Step 1</a> &mdash; &gt;
    <a id="1_link" href="#step/1">Step 2</a> &mdash; &gt;
    <a id="2_link" href="#step/2">Step 3</a> &mdash; &gt;
    <a id="3_link" href="#step/3">Step 4</a> &mdash; &gt;
    <a id="dash_link" href="#d">Dashboard</a>
    </h3>
    </div>
  </div></div>{# columns row #}

<div class="row"><div class="twelve columns">
<div id="hull">


<div id="pane_0" class="pane">
<div class="row">
  <div class="twelve columns">
  <div class="panel">
    <h2>Basic Information</h2>
    <form class="nice">
    <table>
    <tr><th><label for="id_spa_name">Spa name:</label></th><td><input id="id_spa_name" type="text" name="spa_name" class="input-text" maxlength="100" /></td></tr>
    <tr><th><label for="id_address">Address:</label></th><td><input id="id_address" type="text" name="address" class="input-text" maxlength="100" /></td></tr>
    <tr><th><label for="id_neighborhood">Neighborhood:</label></th><td><input id="id_neighborhood" type="text" name="neighborhood" class="input-text" maxlength="100" /></td></tr>
    <tr><th><label for="id_hours">Hours:</label></th><td><input id="id_hours" type="text" name="hours" class="input-text" maxlength="100" /></td></tr>
    <tr><th><label for="id_phone">Phone:</label></th><td><input id="id_phone" type="text" name="phone" class="input-text" maxlength="100" /></td></tr>

    <tr><th><label for="id_website">Website:</label></th><td><input id="id_website" type="text" name="website" class="input-text" maxlength="100" /></td></tr>
    <tr><th><label for="id_email_contact">Email contact:</label></th><td><input type="text" name="email_contact" id="id_email_contact" class="input-text" /></td></tr>
    <tr><th><label for="id_pictures">Pictures:</label></th><td><input id="id_pictures" type="text" name="pictures" class="input-text" maxlength="100" /></td></tr>
    <tr><th><label for="id_description">Description:</label></th><td><input id="id_description" type="text" name="description" class="input-text" maxlength="100" /></td></tr>
    <tr><th><label for="id_wheelchair_accessible">Wheelchair accessible:</label></th><td><input type="checkbox" name="wheelchair_accessible" id="id_wheelchair_accessible" /></td></tr>
    <tr><th><label for="id_espanol">Espanol:</label></th><td><input type="checkbox" name="espanol" id="id_espanol" /></td></tr>
    </table>
    </form>
    <div class="button_bar_bottom"><a class="blueman button radius" href="#step/1">Next &gt;</a></div>
  </div>{# panel #}
  </div>{# columns  #}
</div>{# row #}
</div>{# pane_0 #}


<div id="pane_1" class="pane">
<div class="row">
  <div class="twelve columns">
  <div class="panel">
    <h2>Services Provided</h2>
    <div class="row">
    <div class="seven columns">

        <form>
	    <div id="choose" class="roundy main_panel" data-bind="template: {name:'accordion_proc_category_template', foreach: obj_treatments}">
	    </div>{# "choose" DIV #}
        </form>

    </div>{# columns #}

    <div class="five columns">
    <div class="magic">
      <h4>Wants pawn term, </h4>
      <p>
        ..dare worsted ladle gull hoe lift wetter murder inner
        ladle cordage, honor itch offer lodge dock florist. Disk ladle gull
        orphan worry ladle cluck wetter putty ladle rat hut, an fur disk
        raisin pimple colder Ladle Rat Rotten Hut.
      </p>
      <p data-bind="template: {name:'proc_category_template', foreach: obj_treatments}"></p>
    </div>{#  magic #}
    </div>{# columns #}

    </div>{# row #}

    <div class="button_bar_bottom" style="margin-top:18px"><a class="blueman button radius" href="#step/2">Next &gt;</a></div>

  </div>{# panel #}
  </div>{# columns  #}
</div>{# row #}
</div>{# pane_1 #}


<div id="pane_2" class="pane">
<div class="row">
  <div class="twelve columns">
  <div class="panel">
    <h2>Customize Menu</h2>

    <div class="row">

    <div class="three columns">
      <p data-bind="template: {name:'proc_category_template', foreach: obj_treatments}"></p>
    </div>{# columns #}

    <div class="nine columns">
    <div class="proc_detail">Foobar
        <h3 data-bind="text: current_proc().name"></h3>
    </div>
    </div>{# columns #}

    </div>{# row #}

    <div class="button_bar_bottom"><a class="blueman button radius" href="#step/3">Next &gt;</a></div>
  </div>{# panel #}
  </div>{# columns  #}
</div>{# row #}
</div>{# pane_2 #}


<div id="pane_3" class="pane">
<div class="row">
  <div class="twelve columns">
  <div class="panel">
    <h2>Spa Menu Review</h2>
    <div class="fpo">Placeholder for Step 4</div>
    <div class="button_bar_bottom"><a class="blueman button radius" href="#d">Next &gt;</a></div>
  </div>{# panel #}
  </div>{# columns  #}
</div>{# row #}
</div>{# pane_3 #}


<div id="pane_5" class="pane">
<div class="row">

  <div class="four columns"><div id="hoo" class="panel">
    <h2>Staff</h2>
    <p data-bind="template: {name:'tile_template', foreach: stuffs}"></p>
    <form class="nice">
      <button id="add_staff" data-bind="click: add_staff_member">Add Staff Member</button>
      <input id="staff_name" name="staff_name" class="input-text small" type="text" placeholder="Add Staff Member">
    </form>
  </div>{# hoo #}</div>

  <div class="eight columns"><div id="boy">
    <div class="row"><div class="twelve columns">
      <div id="aa" class="panel cake">
        <h3>Procedures</h3>
        <p data-bind="text: current().name"></p>
        <h3>Price</h3>
        <p data-bind="text: current().extraCost"></p>
        <h3>Something Else...</h3>
        <p data-bind="text: current().description"></p>
      </div>{# panel #}
    </div></div>{# columns row #}
  </div>{# boy #}</div>

</div>{# row #}
</div>{# pane_5 #}


</div>{# hull #}
</div></div>{# columns row #}

</div>{# container #}
{% endblock %}
