<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="language" content="en">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="author" content="ChoiceDocs.com">
	<meta name="publisher" content="Agora Health Networks, Inc.">
	<meta name="copyright" content="©2011 Agora Health Networks, Inc. All rights reserved worldwide.">
	<meta http-equiv="pragma" content="no-cache">
    <link type="text/css" href="/static/css/cupertino/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
    <script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" href="/static/style.css" type="text/css">
	<title>Beauty</title>
	<script type="text/javascript">
		$(function(){
		    $( ".tile" ).draggable({ 
		        revert: 'invalid',
		        revertDuration: 333,
		        scroll: false,
		        stack: '.tile',
		        opacity: 0.75,
		        zIndex: 2700,
		        helper: 'clone',
		        containment: '#main',
		        start: function(event, ui) {
		            // ui.helper.innerHTML() or something...
		            console.log("start");
		        },
		        stop: function(event, ui) {
		            console.log("stop");
		        },
		    });
            $(".trenche").droppable({
                accept: '.tile',
                hoverClass: 'shiny',
                drop: function() {
                    console.log('dropped');
                },
            });
		});
	</script>
</head>
<body>
	<div id="main_outer"><div id="main" class="roundy">
	    <div id="choose" class="roundy">
	        <div class="tile roundy">Foo</div>
	        <div class="tile roundy">Bar</div>
	        <div class="tile roundy">Baz</div>
	        <div class="tile roundy">Foo</div>
	        <div class="tile roundy">Bar</div>
	        <div class="tile roundy">Baz</div>
	        <div class="tile roundy">Foo</div>
	        <div class="tile roundy">Bar</div>
	        <div class="tile roundy">Baz</div>
	        <div class="tile roundy">Foo</div>
	        <div class="tile roundy">Bar</div>
	        <div class="tile roundy">Baz</div>
	        <div class="tile roundy">Foo</div>
	        <div class="tile roundy">Bar</div>
	        <div class="tile roundy">Baz</div>
	        <div class="tile roundy">Foo</div>
	        <div class="tile roundy">Bar</div>
	        <div class="tile roundy">Baz</div>
	        <div class="tile roundy">Foo</div>
	        <div class="tile roundy">Bar</div>
	    </div>
	    <div id="trenches" class="roundy">
	        <div class="trenche roundy">
    	        <center><h1>A</h1></center>
	        </div>
	        <div class="trenche roundy">
    	        <center><h1>B</h1></center>
	        </div>
	        <div class="trenche roundy">
    	        <center><h1>C</h1></center>
	        </div>
</div>	</div></div>
</body>
</html>
