<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="language" content="en">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="author" content="ChoiceDocs.com">
	<meta name="publisher" content="Agora Health Networks, Inc.">
	<meta name="copyright" content="©2011 Agora Health Networks, Inc. All rights reserved worldwide.">
	<meta http-equiv="pragma" content="no-cache">
    <link type="text/css" href="/static/css/vader/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
    <script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" href="/static/style.css" type="text/css">
	<title>Beauty</title>
	<script type="text/javascript">

	$(function(){

        // $("#treat").fadeOut(1);

		// Various API calls that (eventually) contact the server.
		var dispatch = {

		    drop_attempt: function(which, where) {
		        console.log('dropping', which.html(), 'in', trenche_id(where), '...');

		        // if (it's already in the trenche) { return false }

                var result = false;
		        $.ajax({
                    type: 'POST',
                    url: "{% url iapi %}",
                    async: false,
                    data: {
                        s: which.html(),
                        p: 'add_treatment_to_trenche',
                        o: trenche_id(where),
                    },
                    success: function(data) { result = data; },
                    dataType: 'json',
                });
		        return result;
		    },

		    drop_success: function(which, where) {
    		    var text = which.html();
		        make_trenche_tile(where, text);
		        console.log('dropped', text, 'in', trenche_id(where));
		    },

		    remove_attempt: function(which, where) {
		        // AJAX POST to server to remove the tile from the trenche
		        var s = which.find(".trenche_text").text()
                console.log("removing", s, 'from', trenche_id(where));
                return true;
		    },

		    remove_success: function(which, where) {
		        var s = which.find(".trenche_text").text()
                console.log("removed", s, 'from', trenche_id(where));
                which.fadeOut(333, function() { which.remove() });
		    },

		};

		function trenche_id(trenche) {
		    return $(trenche).find('h1').first().html();
		}

		function make_trenche_tile(where, text) {
	        // Create a "trenche_inner" div
	        var D = $(
	            '<div class="trenche_inner roundy">' +
	            '<span class="trenche_text">' +
	            text +
	            '</span>' +
	            '<a class="remove_button">remove</a>' +
	            '</div>'
	        );
	        // Bind its remove button.
	        D.find(".remove_button").click(function() {
	            if (dispatch.remove_attempt(D, where)) {
	                dispatch.remove_success(D, where);
	            }
	        });
            where.append(D);
		};

	    $( ".tile" ).draggable({ 
	        revert: 'invalid',
	        revertDuration: 333,
	        scroll: false,
	        stack: '.tile',
	        opacity: 0.75,
	        zIndex: 2700,
	        helper: 'clone',
	        appendTo: '#main',
	        containment: '#main',
	        start: function(event, ui) {
	            console.log("start dragging", $(this).html());
	        },
	        stop: function(event, ui) {
	            console.log("stopped dragging", $(this).html());
	        },
	    });

        $("#choose").accordion({
            collapsible: true,
            autoHeight: false,
            create: function(event, ui) {
                $(this).accordion("activate", false);
            }
        });

        {# This is crunchy and hacky and wonderful! #}
        function doom_that_came_to_sarnath() {
{% for trench, treats in trenches %}
            var trenche = $("#trench_{{ trench }}");
    {% for treatment in treats %}
            make_trenche_tile(trenche, "{{ treatment }}");
	{% endfor %}
{% endfor %}
        }
        
        doom_that_came_to_sarnath();        


        $(".trenche").droppable({
            accept: '.tile',
            hoverClass: 'shiny',
            drop: function(event, ui) {
                var trenche = $(this);
                var treatment = ui.draggable;
                if (dispatch.drop_attempt(treatment, trenche)) {
                    dispatch.drop_success(treatment, trenche);
                }
            },
        });
        
        $(".trenche h1").click(function() {
        
            // Detect what "panes" are showing...
            var n = $("#trenches").css("left");
            if (n == "380px") {
                // So #choose and #trenches are showing.
                slide_left();
            } else if (n == "0px") {
                // So #trenches is leftmost.
                slide_right();
            }
        });
        
    
    
    function slide_left() {
        $(".main_panel").each(function() {
            $(this).animate({left: '-=380px'}, 333);
        });
    }

    function slide_right() {
        $(".main_panel").each(function() {
            $(this).animate({left: '+=380px'}, 333);
        })
    }

      //  testme();

});</script>
</head>
<body>
	<div id="main_outer"><div id="main" class="roundy">

	    <div id="choose" class="roundy main_panel">
	      {% for kind, treats in treatments %}
	        <h3><a href="#">{{ kind }}</a></h3>
	        <div>
	        {% for treatment in treats %}<div class="tile roundy">{{ treatment }}</div>
	        {% endfor %}
	        </div>
	      {% endfor %}
	    </div>{# "choose" DIV #}

	    <div id="trenches" class="roundy main_panel">
	      {% for trench, treats in trenches %}
	        <div id="trench_{{ trench }}" class="trenche roundy">
    	        <center><h1>{{ trench }}</h1></center>
	        </div>
	      {% endfor %}
        </div>

        <div id="treat" class="roundy main_panel">
            <center><h1>Add Availability</h1></center>
            <form>

            <fieldset id="time" class="roundy">
            <legend>Time</legend>
                <label for="start_time">Starting at:</label>
                <input id="start_time" class="ui-corner-all" type="text" /><br />
                <label for="duration">Duration:</label>
                <input id="duration" class="ui-corner-all" type="text" /><br />
            </fieldset>

            <fieldset class="roundy">
            <legend>Dates</legend>
                <input type="checkbox" checked="checked" />Today<br />
                <input type="checkbox" />Tomorrow<br />
                <input type="checkbox" />The next day<br />
            </fieldset>

            <fieldset class="roundy">
            <legend>Something Else</legend>
                Vivamus neque diam, vehicula ut egestas eget, euismod
                vulputate eros. Ut cursus ullamcorper lobortis. Morbi nec
                purus nisl, eu rutrum justo. Nulla sollicitudin placerat
                nisi, non ultricies lacus imperdiet sed. Nullam porttitor
                eros at eros mollis adipiscing. Integer scelerisque nulla
                a dui mollis nec varius risus tempor. Cras in leo id
                turpis lobortis sollicitudin. Fusce lacinia convallis
                sem, id aliquet sapien placerat eu.
            </fieldset>

            </form>
        </div>

    </div></div>
</body>
</html>
