<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="language" content="en">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="author" content="ChoiceDocs.com">
	<meta name="publisher" content="Agora Health Networks, Inc.">
	<meta name="copyright" content="©2011 Agora Health Networks, Inc. All rights reserved worldwide.">
	<meta http-equiv="pragma" content="no-cache">
	<link rel="stylesheet" href="/static/style.css" type="text/css">
	<title>Beauty</title>
</head>
<body>
	<div id="main_outer"><div id="main">
		<a href="{% url home %}">Hey there!</a>
	</div></div>
</body>
</html>
