{% extends "base.html" %}

{% block title %}
    SpaStalkers' Full Dossier on Deep Massage & Bodywork in San Francisco
{% endblock %}

{% block html_head %}
<link rel="stylesheet" href="/dyn/search.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Pacifico|Chewy|Dancing+Script:400,700' rel='stylesheet' type='text/css'>
<style>
    #background {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: -1;
        opacity: 0.8;
    }

	select { 
		color: #7f7f7f;
		font-size: 24px !important;
		padding: 4px 5px !important;
		border: solid 1px #bbbbbb; 
	}
	option { 
		font-style: italic;
	}
	
	.profile_box {
		background-color: #fff;
		border: 1px solid #e2e2e2;
		box-shadow: 0 2px 2px #DDD;
		color: #666;
		padding: 10px 20px;
		margin-top: 45px;
		margin-left: 20px;
		position: relative;
	}
	
	.profile_logo {
	   -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	   -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	   -webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
		padding: 20px;
		background: #fff;
		border: 1px solid #ddd;
		margin-top: 25px;
	}
	
	.profile_slideshow {
		padding: 10px;
		background: #eee;
		border: 1px solid #fff;
		box-shadow: 0px 2px 15px #333;
		-moz-box-shadow: 0px 2px 15px #333;
		-webkit-box-shadow: 0px 2px 15px #333;
		position: relative;
		margin: 25px 0 0 0;
		/*
		-webkit-transform: rotate(-1.5deg);
		-moz-transform: rotate(-1.5deg);
		*/
	}

	.profile_map {
		padding: 5px;
		background: #eee;
		border: 1px solid #ddd;
	}
	
	.pin {
		width: 20px;
		height: 20px;
		margin-right: px;
	}
	
	address {
		font-size: 1.2em;
	}
</style>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
  }

</script>

<script type="text/javascript">

$(document).ready(function(){
	$("#profile_slideshow").each(function(){
		var rot = Math.random()*30-15+'deg';
		$(this).css('-webkit-transform', 'rotate('+rot+')');
		$(this).css('-moz-transform', 'rotate('+rot+')');
	});
});

</script>
{% endblock %}




{% block body %}
<body>
<img id="background">

<div class="container">
  <div class="row">
	<div class="twelve columns">
		<h1 style="color: #7FBA02; text-shadow: 1px 1px 1px #000; font-family: Pacifico; margin: 7px 0 0 15px;">SpaStalkers</h1>
	</div>
  </div>

  <div class="row" style="background-color: #DCE9BE; border-top: 7px solid #5f8b01;">
	<div class="one columns">
	</div>
	<div class="three columns">
		<p><img class="profile_logo" src="/static/fakedata/DMB/logo.jpg"></p>
	</div>
    <div class="seven columns">
		<div class="profile_box">
		<h2>Deep Massage & Bodywork</h2>
			<div class="row">
				<div class="six columns">
					<ul>
					<li>111 New Montgomery St, #208 <br>San Francisco, California, 94105</li>
					<li>(415) 672-0665</li>
					<li><a href="http://www.deepmassage.com">www.deepmassage.com</a></li>
					</ul>
				</div>
				<div class="six columns">
					<ul>
					<lh><strong>Hours:</strong></lh>
					<li>Mon-Fri 8am - 9pm<br>Sat 11am - 7:30pm<br>Sun 1pm - 9pm</li>
					</ul>
				</div>
			</div>
		</div>
    </div>
	<div class="one columns">
	</div>
  </div>

  <div class="row" style="background-color: #DCE9BE;">
    <div class="eleven columns centered">
		<div id="featured"> <center>
		     <img class="profile_slideshow" src="/static/fakedata/DMB/interior08.jpg" alt="Interior Shot 1" />
		     <img class="profile_slideshow" src="/static/fakedata/DMB/interior01.jpg" alt="Interior Shot 2" />
		     <img class="profile_slideshow" src="/static/fakedata/DMB/interior03.jpg" alt="Interior Shot 3" />
		     <img class="profile_slideshow" src="/static/fakedata/DMB/interior04.jpg" alt="Interior Shot 4" />
				</center>
		</div>
		<br><br><br>
    </div>
  </div>

  <div class="row" style="background-color: #EFFFCD;">
    <div class="ten columns centered"><br>
		<h3><em>Menu and Recommendations</em></h3>
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Services</th>
						<th>Description</th>
						<th>Price</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><img src="http://placehold.it/60x60"></td>
						<td>Massage</td>
						<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
						<td>$60</td>
						<td><a href="#" class="red button">Book it!</a></td>
					</tr>
					<tr>
						<td><img src="http://placehold.it/60x60"></td>
						<td>Colonics</td>
						<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
						<td>$100</td>
						<td><a href="#" class="red button">Book it!</a></td>
					</tr>
					<tr>
						<td><img src="http://placehold.it/60x60"></td>
						<td>Manicure</td>
						<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
						<td>$20</td>
						<td><a href="#" class="red button">Book it!</a></td>
					</tr>
					<tr>
						<td><img src="http://placehold.it/60x60"></td>
						<td>Package</td>
						<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
						<td>$400</td>
						<td><a href="#" class="green button">Book it!</a></td>
					</tr>
				</tbody>
			</table>
		<br>
    </div>
  </div>

  <div class="row" style="background-color: #EFFFCD;">
    <div class="ten columns centered"><br>
		<h3><em>Where is this place?</em></h3>
		<table>
			<tr><td>
		<img class="profile_map" src="http://maps.google.com/maps/api/staticmap?center=37.787579,-122.399255&zoom=14&size=650x300&maptype=roadmap&markers=color:green|37.787579,-122.399255&sensor=false"/>
			</td><td><img src="/static/transportmodes.png"></td></tr>
		</table>
		<br><br>
    </div>
  </div>	

<table>
<tr><td>
Where is this place?
</td></tr>
</table>

  <div class="row" style="background-color: #eee;">
	<div class="twelve columns">
		<div class="row">
			<div class="four columns">
				<h4>SpaStalker</h4>
				<hr>
				<ul>
					<li><a href="">Lorem ipsum</a></li>
					<li><a href="">Lorem ipsum</a></li>
				</ul>
			</div>
			<div class="four columns">
				<h4>SERVICES</h4>
				<hr>
				<ul>
					<li><a href="">Lorem ipsum</a></li>
					<li><a href="">Lorem ipsum</a></li>
				</ul>
			</div>
			<div class="four columns">
				<h4>LOCATIONS</h4>
				<hr>
				<ul>
					<li><a href="">Lorem ipsum</a></li>
					<li><a href="">Lorem ipsum</a></li>
				</ul>
			</div>
		</div>
	</div>
  </div>
{% endblock %}
</div><!-- container -->


<!-- 

1. Who is this? Show me details.
2. Where is this? Show me how to get there.
3. What do they offer and how much? Show me a menu.
4. When are they available? Show me a calendar.
5. Why should I trust this? Show me proof.

-->