{% extends "base.html" %}


{% block html_head %}
<style>
	@import url(http://fonts.googleapis.com/css?family=Pacifico|Chewy|Dancing+Script:400,700);

	html {
		font-size: 62.5%;
	}
	
	body {
		background-color: #eee;
	}

	#header h1 {
		font-family: Pacifico; 
		font-size: 42px;
		font-size: 4.2rem;	
		color: #7FBA02;
		margin: 10px 0 20px 0;
	    text-align: center;
	}
	
	#header h1 a {
		color: #7FBA02;
	}
	
	#header h1 a:hover {
		color: #5f8b01;
	}

	#content {
	    background-color: #FFFFFF;
	    border: 1px solid #E2E2E2;
	    box-shadow: 0 2px 2px #DDDDDD;
	    color: #666666;
	    padding-right: 0px;
	    padding-bottom: 40px;
		position: relative;		
	}

	.profile_logo {
	   -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	   -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	   -webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
		padding: 10px;
		background: #fff;
		border: 1px solid #ddd;
		margin-top: 0px;
		height: 160px;
	}

	.profile_infobox {
		background-color: #fff;
		border: 1px solid #e2e2e2;
		box-shadow: 0 2px 2px #DDD;
		color: #666;
		padding: 10px 25px;
		margin-top: 0px;
		margin-left: 0px;
		position: relative;
	}
	
	.profile_box h2 {
		font-size: 32px;
		line-height: 38px;
		font-weight: bold;
		color: #404040;	
	}
		
	.profile_photos {
		padding: 8px;
		background: #fff;
		border: 1px solid #ddd;
		box-shadow: 0px 2px 10px #333;
		-moz-box-shadow: 0px 2px 10px #333;
		-webkit-box-shadow: 0px 2px 10px #333;
		display: block;
		margin-left: auto;
		margin-right: auto
		/*
		-webkit-transform: rotate(-1.5deg);
		-moz-transform: rotate(-1.5deg);
		*/
	}

	.profile_map {
		padding: 8px;
		background: #fff;
		border: 1px solid #ddd;
		box-shadow: 0px 2px 10px #333;
		-moz-box-shadow: 0px 2px 10px #333;
		-webkit-box-shadow: 0px 2px 10px #333;
		display: block;
		margin-left: auto;
		margin-right: auto
	}
	
	.pin {
		width: 20px;
		height: 20px;
		margin-right: px;
	}
	
	address {
		font-size: 1.2em;
	}
	
	#menu td {
		vertical-align: middle;
	}
</style>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
function initialize() {
	var latlng = new google.maps.LatLng(-34.397, 150.644);
	var myOptions = {
		zoom: 8,
		center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
}
</script>

<script type="text/javascript">
$(document).ready(function(){
	$("#profile_slideshow").each(function(){
		var rot = Math.random()*30-15+'deg';
		$(this).css('-webkit-transform', 'rotate('+rot+')');
		$(this).css('-moz-transform', 'rotate('+rot+')');
	});
});
</script>

<script type="text/javascript">
     $(window).load(function() {
         $('#featured').orbit();
     });
</script>
{% endblock %}


{% block title %}
Profile - SpaStalker
{% endblock %}


{% block body %}
<div class="container">

	<!-- HEADER -->
	<div id="header" class="row">
		<div class="twelve columns">
			<h1><a href="/">SpaStalker</a></h1>
		</div>
	</div>

	<!-- CONTENT -->
	<div id="content" class="row">
		<div class="twelve columns"><br><br>
			<div class="row" style="">
				<div class="one columns"></div>
				<div class="three columns">
					<img class="profile_logo" src="/static/fakedata/DMB/logo.jpg">
				</div>
				<div class="seven columns">
					<div class="profile_infobox">
						<h2 style="font-size: 30px; color: #027fb9;">Deep Massage & Bodywork</h2>
						<div class="row">
							<div class="six columns">
								<ul>
									<li>111 New Montgomery St, #208<br>San Francisco, 94105</li>
									<li>(415) 672-0665</li>
									<li><a href="http://www.deepmassage.com">www.deepmassage.com</a></li>
								</ul>
							</div>
							<div class="six columns">
								<ul>
									<lh><strong>Hours:</strong></lh>
									<li>Mon-Fri 8am - 9pm<br>Sat 11am - 7:30pm<br>Sun 1pm - 9pm</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="one columns"></div>
			</div><!-- row -->
	
			<div class="row">
			    <div class="twelve columns"><br><br>
<!--						<img class="profile_photos" src="/static/fakedata/DMB/interior08.jpg" />
						<img class="profile_photos" src="/static/fakedata/DMB/interior01.jpg" />
						<img class="profile_photos" src="/static/fakedata/DMB/interior04.jpg" /> -->
						<img class="profile_photos" src="/static/fakedata/DMB/interior03.jpg" />

			    </div>
			</div>
	
			<div class="row">
				<div class="twelve columns"><br><br>
					<div class="row">
						<div class="one columns"></div>
						<div class="ten columns">
							<h3 style="color: #027FB9;">Services Offered</h3>
								<table id="menu">
									<thead>
										<tr>
											<th></th>
											<th>Services</th>
											<th>Description</th>
											<th>Price</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><img src="/static/fakedata/DMB/services01.jpg" width="50"></td>
											<td>Massage</td>
											<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
											<td><h3>$60</h3></td>
											<td><a href="/booking" class="red button">Book it!</a></td>
										</tr>
										<tr>
											<td><img src="/static/fakedata/DMB/services02.jpg" width="50"></td>
											<td>Colonics</td>
											<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
											<td><h3>$100</h3></td>
											<td><a href="/booking" class="red button">Book it!</a></td>
										</tr>
										<tr>
											<td><img src="/static/fakedata/DMB/services03.jpg" width="50"></td>
											<td>Manicure</td>
											<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
											<td><h3>$20</h3></td>
											<td><a href="/booking" class="red button">Book it!</a></td>
										</tr>
										<tr>
											<td><img src="/static/fakedata/DMB/services04.jpg" width="50"></td>
											<td>Package</td>
											<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
											<td><h3>$400</h3></td>
											<td><a href="/booking" class="green button">Book it!</a></td>
										</tr>
									</tbody>
								</table>
						</div>
						<div class="one columns"></div>
					</div>
				</div>
			</div>
	
			<div class="row">
				<div class="twelve columns">
					<div class="row">
						<div class="one columns"></div>
						<div class="ten columns">
							<h3 style="color: #027FB9;">Provider Location</h3>
							<img class="profile_map" src="http://maps.google.com/maps/api/staticmap?center=37.787579,-122.399255&zoom=14&size=800x300&maptype=roadmap&markers=color:green|37.787579,-122.399255&sensor=false"/>
						</div>
						<div class="one columns"></div>
					</div>				
				</div>
			</div>	
			
		</div><!-- columns -->
	</div><!-- content|row -->

	<!-- FOOTER -->
	<div class="row">
		<div class="twelve columns"><br><br>

		</div>
	</div>

</div><!-- container -->
{% endblock %}