{% extends "base.html" %}
{% block html_head %}
<script type="text/javascript" src="/static/js/d3/d3.js"></script>
<script type="text/javascript" src="/static/js/d3/d3.time.js"></script>
<link rel="stylesheet/less" href="/static/rad.less" type="text/css">
<script src="/static/js/less.js" type="text/javascript"></script>
<script src="/static/js/jquery.tmpl.js" type="text/javascript"></script>
<script src="/static/js/knockout-1.2.1.debug.js" type="text/javascript"></script>
<style>
	@import url(http://fonts.googleapis.com/css?family=Pacifico|Chewy|Dancing+Script:400,700);
	@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,100|Istok+Web|Philosopher);
</style>
<script type="text/javascript">

function select_year() {
    d3.selectAll("circle")
        .transition()
        .duration(1200)
        .call(year_style);
}

function select_month_from_day(d) {
    select_month(d.month);
}

function select_month(m) {
    var in_month = function(d) { return d.month == m };
    var circles = d3.selectAll("circle");
    circles.filter(in_month).transition().call(month_style);
    clear_unmatching(circles, in_month, fade_drop);
}

function clear_unmatching(selection, predicate, effect) {
    selection.filter(function(d) { return !predicate(d) })
        .transition().call(effect);
}

//-------------------------------------------------------
// Effects bundles (used with .call(<effect>).)
//

function shiny(T) { T
    .attr("fill", function(d) {
        return (d.month % 2 == 0)
            ? c1(Math.random())
            : c0(Math.random());
    })
    .attr("fill-opacity", 0.5)
}

function fade_drop(T) { T
    .duration(1200)
    .attr("fill-opacity", 0.01)
  .transition()
    .delay(function(d) { return 680 * Math.random() })
    .attr("cy", h * 2)
    .ease("quad");
}

function shrink(T) { T
    .attr("r", function() { return r(Math.random()) })
    .delay(100)
    .duration(333)
}

function month_style(T) { T
    .delay(function(d) { return 75 * Math.random() })
    .duration(function(d) { return 500 + (500 * Math.random()) })
    .attr("cx", function(d) { return xm(d.day_of_week) })
    .attr("cy", function(d) { return ym(d.week_of_month) })
    .attr("r", function() { return r_big(Math.random()) })
    .call(shiny)
}

function year_style(T) { T
    .attr("cx", function(d) { return x(d.week_of_year) })
    .attr("cy", function(d) { return y(d.day_of_week) })
    .attr("r", function() { return r(Math.random()) })
    .call(shiny)
}

//-------------------------------------------------------
// KO ModelView Thingy.
//

var viewModel = {
    current: ko.observable(""),
    pointed_at: ko.observable("Wants Pawn Term, "),

    pointing_at: function(d) {
	    viewModel.pointed_at(d.label);
		d3.select(this).transition()
			.attr("r", function() {
			    return (viewModel.current() != d.label)
			        ? r_med(Math.random())
			        : r_big(Math.random());
			})
			.duration(2500)
			.ease("elastic", 3, 0.3);
	},

    unpointing_at: function(d) {
        var c = viewModel.current();
        viewModel.pointed_at((c != "") ? c : "Select Date");
        if (c != d.label) { // Don't shrink current day.
		    d3.select(this).transition().call(shrink);
        }
	},

	select_day: function(d) {
        var c = viewModel.current();
	    if (c != d.label) {
	        if (c != "") { // Shrink previous current day.
	            d3.selectAll("circle")
	                .filter(function(dd, i) { return (c == dd.label) })
		            .transition().call(shrink);
	        }
	        // Enlarge current day.
	        viewModel.current(d.label);
	        d3.selectAll(this)
	            .transition()
	            .attr("r", function() { return r_big(Math.random()) })
	    }
	},
};

//-------------------------------------------------------
// Formatting and scales.
//

var day = d3.time.format("%w"),
    week = d3.time.format("%U"),
    _month = d3.time.format("%m"),
    format = d3.time.format("%A, %B %d %Y");

function month(d) { return _month(d) - 1 }

var h = 250, w = 1024;
var x0 = 10, x1 = 914;

var x = d3.scale.linear().domain([0,53]).range([x0, x1]),
    y = d3.scale.linear().domain([0,7]).range([20,h]),

    r = d3.scale.linear().domain([0,1]).range([5,10]),
    r_med = d3.scale.linear().domain([0,1]).range([15,30]),
    r_big = d3.scale.linear().domain([0,1]).range([30, 43]),

    c0 = d3.scale.linear().domain([0,1]).range(
        ["hsl(250, 50%, 50%)", "hsl(350, 100%, 50%)"]
        ).interpolate(d3.interpolateHsl);
    c1 = d3.scale.linear().domain([0,1]).range(
        ["hsl(150, 50%, 50%)", "hsl(250, 100%, 50%)"]
        ).interpolate(d3.interpolateHsl);

var xm = d3.scale.linear().domain([0,7]).range([100, 814]),
    ym = d3.scale.linear().domain([0,4]).range([45, h * 1.618]);

var xmselector = d3.scale.linear().domain([1, 12]).range([x0, x1]);

//-------------------------------------------------------
// Teh Year Data.
//

var year = d3.time.days(new Date(2011, 0, 1), new Date(2012, 0, 1));
var data = jQuery.map(year, function(d, i) {
    var datum = {
        "month": month(d),
        "week_of_year": week(d),
        "day_of_week": day(d),
        "label": format(d),
        "date": d,
    };
    var months_week = week(new Date(2011, datum.month, 1));
    datum.week_of_month = datum.week_of_year - months_week;
    return datum;
});

//-------------------------------------------------------
// Animate color cycle at three minutes per complete rainbow. ;)
//

var cram_color = d3.scale.linear().domain([0,11]).range(
        ["hsl(0, 50%, 90%)", "hsl(360, 50%, 90%)"]
        ).interpolate(d3.interpolateHsl);

function crambery(minutes) {
    window.setTimeout(crambery, 60000 * minutes, minutes);
    for (var i = 0; i < 12; i++) {
        d3.select("body").transition()
            .delay(minutes * 5000 * i)
            .duration(minutes * 5000)
            .style("background-color", cram_color(i));
    }
}

//-------------------------------------------------------

$(function() {

    var vis = d3.select("#show")
        .append("svg:svg")
        .attr("width", w)
        .attr("height", 2.6 * h);

    vis.selectAll("circle")
        .data(data)
        .enter().append("svg:circle")
//        .filter(function(d) {return d.month % 2 == 1})
        .attr("stroke-width", "none")
        .call(year_style)
		.on("mouseover", viewModel.pointing_at)
		.on("mouseout", viewModel.unpointing_at)
		.on("click", viewModel.select_day);

    crambery(3);

    ko.applyBindings(viewModel);

});

</script>
{% endblock %}
{% block title %}Dashboard - SpaStalker{% endblock %}
{% block body %}
<div class="container">
<div class="row">
<div class="twelve columns" style="float: none">{# The float setting here is to finesse a performance issue with the SVG response when float:left. #}
<div id="hull" class="panel">

    <h1 data-bind="text: pointed_at"></h1>
    <p>Glide your mouse over the circles below to find a date, then click on
    it to make that date the current date.</p>

    <div id="show"></div>

<a href="#" data-bind="click: select_year">2011</a> |
<a href="#" data-bind="click: function() { select_month(0) }">Jan</a>
<a href="#" data-bind="click: function() { select_month(1) }">Feb</a>
<a href="#" data-bind="click: function() { select_month(2) }">Mar</a>
<a href="#" data-bind="click: function() { select_month(3) }">Apr</a>
<a href="#" data-bind="click: function() { select_month(4) }">May</a>
<a href="#" data-bind="click: function() { select_month(5) }">June</a>
<a href="#" data-bind="click: function() { select_month(6) }">July</a>
<a href="#" data-bind="click: function() { select_month(7) }">Aug</a>
<a href="#" data-bind="click: function() { select_month(8) }">Sept</a>
<a href="#" data-bind="click: function() { select_month(9) }">Oct</a>
<a href="#" data-bind="click: function() { select_month(10) }">Nov</a>
<a href="#" data-bind="click: function() { select_month(11) }">Dec</a>

</div>{# hull #}
</div></div>{# columns row #}
</div>{# container #}
{% endblock %}
