{% extends "base.html" %}
{% block html_head %}
<script type="text/javascript" src="/static/js/d3/d3.js"></script>
<link rel="stylesheet/less" href="/static/rad.less" type="text/css">
<script src="/static/js/less.js" type="text/javascript"></script>
<script src="/static/js/jquery.tmpl.js" type="text/javascript"></script>
<script src="/static/js/knockout-1.2.1.debug.js" type="text/javascript"></script>
<style>
	@import url(http://fonts.googleapis.com/css?family=Pacifico|Chewy|Dancing+Script:400,700);
	@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,100|Istok+Web);
</style>
<script type="text/javascript">

$(function() {

    var h = 1000;

    var x = d3.scale.linear().domain([0,1]).range([512 - 400, 512 + 400]),
        y = d3.scale.linear().domain([0,1]).range([0,h]),
        r = d3.scale.linear().domain([0,1]).range([5,10]),
        c = d3.scale.linear().domain([0,1]).range(["hsl(250, 50%, 50%)", "hsl(350, 100%, 50%)"]).interpolate(d3.interpolateHsl);

    var data = [];
    for (i=0; i < 150; i++) {
        data.push({"x": Math.random(), "y": Math.random()});
    }

    var vis = d3.select("#show")
        .append("svg:svg")
        .attr("width", 1024)
        .attr("height", 1024);

    vis.selectAll("circle")
        .data(data)
        .enter().append("svg:circle")
        .attr("cx", function(d) { return x(d.x) })
        .attr("cy", function(d) { return y(d.y) })
        .attr("stroke-width", "none")
        .attr("fill", function() { return c(Math.random()) })
        .attr("fill-opacity", .5)
//        .attr("visibility", "hidden")
        .attr("r", function() { return r(Math.random()) })
		.on("mouseover", function() {
			d3.select(this).transition()
				.attr("cy", function() { return y2(Math.random()) })
				.delay(0)
				.duration(2000)
				.ease("elastic", 10, .3)
		});

    var y2 = d3.scale.linear().domain([0,1]).range([h/2 - 20, h/2 + 20])
    var del = d3.scale.linear().domain([0,1]).range([0,1])
     
    d3.selectAll("circle").transition()
        .attr("cx", function() { return x(Math.random()) })
        .attr("cy", function() { return y2(Math.random()) })
        .attr("visibility", "visible")
        .delay(function(d,i) { return 1000 + i * del(Math.random()) })
        .duration(7000)
        .ease("elastic", 10, .45);

    d3.select("body").transition()
        .duration(7500)
        .style("background-color", "blue");
});

</script>
{% endblock %}
{% block title %}Dashboard - SpaStalker{% endblock %}
{% block body %}
<div class="container">

<div class="row"><div class="twelve columns">
<div id="hull" class="panel">

  <h1>Wants pawn term, </h1>
  <p>
    ..dare worsted ladle gull hoe lift wetter murder inner
    ladle cordage, honor itch offer lodge dock florist. Disk ladle gull
    orphan worry ladle cluck wetter putty ladle rat hut, an fur disk
    raisin pimple colder Ladle Rat Rotten Hut.
  </p>

</div>{# hull #}
</div></div>{# columns row #}

</div>{# container #}
  <div id="show"></div>
{% endblock %}
