body {
    background-color: {{ colors.bg }};
}

.plumble {
    color: {{ colors.header }};
    background-color: {{ colors.header_bg }};
    padding: 0.5em;
	margin-bottom: 0.5em;
}

#re_search {
}

#header {
}

#main {
}

#results {
    border: 1px solid {{ colors.results }};
}

#tools {
    color: {{ colors.tools }};
    background-color: {{ colors.tools_bg }};
    border: 1px solid {{ colors.results }};
    padding: 0.25em;
}

.searchy {
    background-color: {{ colors.bg }};
    border: 1px solid {{ colors.header }};
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
    padding: 0.25em;
}

form input[type=text] {
    color: {{ colors.header }};
	display: inline-block;
}

form label {
	display: inline-block;
}

.tile {
    background-color: {{ colors.bg }};
    border: 1px solid {{ colors.header }};
    padding: 0.25em;
    margin: 0.25em;
}

.spa {
    font-size: small;
}

.rating {
    font-size: x-small;
}

.logo {
}

.distance {
    font-size: x-small;
}

.price {
    background-color: {{ colors.results_bg }};
    border: 1px solid {{ colors.header }};
    padding: 1em;
    text-align: right;
}

