{% extends "search_base.html" %}
{% block html_head %}
<link rel="stylesheet/less" href="/static/search_home.less" type="text/css">
<script src="/static/js/less.js" type="text/javascript"></script>
<script src="/static/js/lib/dotscal.js" type="text/javascript"></script>
<script type="text/javascript">

//-------------------------------------------------------
// Miscellaneous functions.
//

function toc_in() {
    $("#toc").fadeOut(150, 'easeOutBounce', function() {
        $("#main_frame").fadeIn();
    });
}

function toc_out() {
    $("#main_frame").fadeOut(150, function() {
        $("#toc").fadeIn(150);
    });
}

function setup_button(sel, ico) {
    $(sel).button({icons: {primary:ico}, text: false })
        .click(function(){return false});
}

function params_into_object(d, initial) {
    _.each(d, function(foo) {
        initial[foo.name] = foo.value;
    });
}


//-------------------------------------------------------
// RDF Processing.
//

var RDF_NS = { 
    rdf: 'http://www.w3.org/1999/02/22-rdf-syntax-ns#',
    rdfs: 'http://www.w3.org/2000/01/rdf-schema#',
    dc: 'http://purl.org/dc/elements/1.1/', 
    foaf: 'http://xmlns.com/foaf/0.1/'
    };
function new_triplestore() {
    return $.rdf.databank([],
    {
        base: 'http://choicedocs.com/ref/',
        namespaces: RDF_NS,
    }
)};
var TRIPLESTORE = new_triplestore();

TRIPLESTORE.add('_:creator a foaf:Person')
TRIPLESTORE.add('_:creator foaf:name "Bill"')
var Q = $.rdf({databank: TRIPLESTORE})
    .where('?person a foaf:Person')
    .where('?person foaf:name ?name')
    .each(function() {
        console.log(this.person.value, this.name.value);
    });


//-------------------------------------------------------
// View Model Classes
//

var SpaProcedure = function(options) {
    this.name = options.name;
    this.supported = ko.observable(options.supported);

    if (!_.isUndefined(options.children)) {
        this.children = _.map(
            options.children,
            function(n) { return new SpaProcedure(n) }
        );
    }

    if (_.isUndefined(options.nickname)) {
        this.nickname = ko.observable(options.name);
    } else {
        this.nickname = ko.observable(options.nickname);
    }

    if (_.isUndefined(options.price)) {
        this.price = ko.observable(0.0);
    } else {
        this.price = ko.observable(options.price);
    }

    if (_.isUndefined(options.duration)) {
        this.duration = ko.observable(60);
    } else {
        this.duration = ko.observable(options.duration);
    }

    this.formatted_price = ko.dependentObservable(function() {
        return "$" + (+this.price()).toFixed(2);
    }, this);

    this.toggle = function() {
        this.supported(!this.supported());
    }

    this.make_current = function() {
        viewModel.current_proc(this);
    }
}


//-------------------------------------------------------
// Static Data
//

var root = {{ tree_data|safe }};

// Convert the (server-embedded) JSON to KO models.
root.children = _.map(root.children, function(n) { return new SpaProcedure(n); });


//-------------------------------------------------------
// View Model
//

var viewModel = {

    // Track the current "view" the user is looking at.
    viewing: ko.observable(),

    // The currently selected treatment ("proc"edure), if any.
    current_proc: ko.observable({name:'None Selected'}),

    current: ko.observable(""),
    current_el: ko.observable(),

    pointed_at: ko.observable("Wants Pawn Term, "),
    pointed_at_el: ko.observable(),

	is_current: function(d) {
	    return viewModel.current() == d.label;
	},
};


//-------------------------------------------------------
// View
//

var View = {
    // This is the last view the user was looking at, used for determining
    // correct transition to a new view.
    previous_view: "toc",

    previous: false,
    pointed_at: false,
};

// Track and update visible pane and TOC width.  This links viewModel.viewing
// and View.previous_view.
viewModel.viewing.subscribe(function(view) {

    console.log("Track and update visible pane and TOC width =>", view);

    // I think this is prevented by the routes thingy, but it can't hurt.
    if (view == View.previous_view) { return };

    // Are we going to the TOC?
    if (view == "toc") {
        toc_out(); // The rest of the UI remains static,

    // No, we're going to one of the panes.
    } else {
        // Clear the previous view.
        if (View.previous_view == "toc") {
            toc_in();
            $(".current_pane").hide().removeClass("current_pane");
            $("#pane_" + view).show().addClass("current_pane");
        } else if (view[0] == 'm') {
            // switch to month.
            if (!(View.previous_view == '1' || View.previous_view[0] == 'm')) {
                switch_pane(1);
            }
            select_month(view.substr(1))
        } else if (view == "1" && View.previous_view && View.previous_view[0] == 'm') {
            // month to year view switch
            select_year();
        } else {
            switch_pane(view);
        }
    };

    // Update history for next call.
    View.previous_view = view;
});

function switch_pane(pane) {
    $(".current_pane").hide("fade", 175, function() {
        $("#pane_" + pane).show("fade", 175).addClass("current_pane");
    }).removeClass("current_pane");
}


viewModel.viewing.subscribe(function(view) {
    $(".indicate").removeClass("indicate");
    $("#" + view + "_link").addClass("indicate");
});
/*
viewModel.viewing.subscribe(function(view) {
    if (view == "year") {
        select_year();
    } else if (view[0] == 'w') {
        select_week(view.slice(1));
    } else if (view[0] == 'd') {
        select_day(view.slice(1));
    } else {
        select_month(view);
    }
});
*/

viewModel.pointed_at_el.subscribe(function(it) {
//	    console.log("Yes, I exist!", it);
    if (it) {
        it = d3.select(it);
        it.transition().call(embiggen);
//	    console.log("embiggen it!", it);
    } else if (View.pointed_at) {
//	    console.log("disembiggen it!", View.pointed_at);
        // Don't shrink current day.
        View.pointed_at.filter(function(d) {
//            console.log("k it!", d);
//            console.log("hmm?", viewModel.is_current(d));
            return !viewModel.is_current(d);
        })
            .transition().call(shrink);
    }
    View.pointed_at = it;
});

viewModel.current_el.subscribe(function(it) {
    var circ = d3.select(it);
    circ.transition().call(swell);
    if (View.previous) {
        View.previous.transition().call(shrink).attr("fill-opacity", 0.5);
    }
    View.previous = circ;
});

viewModel.viewing.subscribe(function(view) {
    $(".indicate").removeClass("indicate");
    $("#" + view + "_link").addClass("indicate");
});

//-------------------------------------------------------
// Route URLs.
//

var routey = Backbone.Router.extend({

    routes: {
        "toc": "toc",
        "step/:num": "step",
        "month/:mnum": "month",
    },

    toc: function() {
        viewModel.viewing("toc");
    },

    step: function(num) {
        num = +num;
        if (num >= 0 && num <= 4) {
            viewModel.viewing(num);
        } else {
            this.navigate("toc", true);
        }
    },

    month: function(mnum) {
        mnum = +mnum;
        if (mnum >= 0 && mnum < 12) {
            viewModel.viewing('m' + mnum);
        }
    },

});

var routes = new routey();

//-------------------------------------------------------
// Tree Layout Junk.
//

var m = [10, 120, 10, 120],
    w = 914 - m[1] - m[3],
    h = 800 - m[0] - m[2],
    i = 0,
    duration = 500;

var tree = d3.layout.tree()
    .size([h, w]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

// Toggle tree children on click.
function tree_node_click(d) {
  if (!_.has(d, "children")) {
    d.supported(!d.supported());
  } else if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
  update(d);
}

function collapse(d) {
    if (d.children) {
      d._children = d.children;
      _.each(d._children, collapse);
      d.children = null;
    }
}

var vis2;

function update(source) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse();

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 110; });

  // Update the nodes…
  var node = vis2.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("svg:g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
      .on("click", tree_node_click);

  nodeEnter.append("svg:circle")
      .attr("r", 1e-6);

  nodeEnter.append("svg:text")
      .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
      .attr("dy", ".35em")
      .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
      .text(function(d) { return d.name; })
      .style("fill-opacity", 1e-6);

  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
      .attr("r", 8)
      .style("fill", function(d) {
          if (d.children || _.has(d, "supported") && d.supported()) {
              return "lightsteelblue";
          }
          return "#eef";
      });

  nodeUpdate.select("text")
      .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
      .remove();

  nodeExit.select("circle")
      .attr("r", 1e-6);

  nodeExit.select("text")
      .style("fill-opacity", 1e-6);

  // Update the links…
  var link = vis2.selectAll("path.link")
      .data(tree.links(nodes), function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("svg:path", "g")
      .attr("class", "link")
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return diagonal({source: o, target: o});
      })
    .transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
      .duration(duration)
      .attr("d", function(d) {
        var o = {x: source.x, y: source.y};
        return diagonal({source: o, target: o});
      })
      .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });
}


//-------------------------------------------------------
// Teh Year Data.
//

var year = d3.time.days(new Date(2012, 0, 1), new Date(2013, 0, 1));
var data = jQuery.map(year, function(d, i) {
    var datum = {
        "month": month(d),
        "week_of_year": +week(d),
        "day_of_week": day(d),
        "day_of_month": mday(d),
        "day_of_year": +yday(d),
        "label": format(d),
        "date": d,
    };
    var months_week = week(new Date(2011, datum.month, 1));
    datum.week_of_month = datum.week_of_year - months_week;
    return datum;
});

//-------------------------------------------------------
// Mouse bindings for the day-circles.
// Mostly to de-couple the viewModel logic from the d3 transitions that
// animate it.

function mouse_bindings(T) { T
	.on("mouseover", function(d) {
        viewModel.pointed_at(d.label);
        viewModel.pointed_at_el(this);
    })
	.on("mouseout", function(d) {
        var c = viewModel.current();
        viewModel.pointed_at((c != "") ? c : "Select Date");
        viewModel.pointed_at_el(false);
    })
	.on("click", function(d) {
        if (!viewModel.is_current(d)) {
            viewModel.current(d.label);
            viewModel.current_el(this);
            routes.navigate("day/" + d.day_of_year, true);
        }
    });
}

//-------------------------------------------------------
// Initial bootstrap.
//

$(function(){

    $("#main_frame").hide();
    $(".pane").hide();

    ko.applyBindings(viewModel);

    vis2 = d3.select("#chart").append("svg:svg")
        .attr("width", w + m[1] + m[3])
        .attr("height", h + m[0] + m[2])
      .append("svg:g")
        .attr("transform", "translate(" + m[3] + "," + m[0] + ")");

    root.x0 = h / 2;
    root.y0 = 0;
    root.children.forEach(collapse);
    update(root);

    var vis3 = d3.select("#show")
        .append("svg:svg")
        .attr("width", dw)
        .attr("height", 1.9 * dh)
        .attr("id", "uncanny");

    var circles = vis3.selectAll("circle")
        .data(data)
    .enter().append("svg:circle")
        .attr("stroke-width", "none")
        .call(year_style)
        .call(mouse_bindings);

    setup_button("button#add_proc", 'ui-icon-circle-plus');
    setup_button("button#del_proc", 'ui-icon-circle-close');

    crambery(3);

    if (!Backbone.history.start()) {
        routes.navigate("toc", true);
    }
});
</script>
{% endblock %}

{% block title %}Spa Home{% endblock %}

{% block header %}
{% endblock %}

{% block toc %}
	<h1 id="logotype"><a href="/">Ju<span class="davee">V</span>uu</a></h1>
	<h2 id="tagline">This is our subtitle!</h2>

	<center>
	<form method="POST" action="{% url signup %}">
	  {% csrf_token %}
      <table> 
      <tr><th rowspan="2"><h3>Login</h3></th>
        <td><label for="id_email">email</label></td>
        <td><input type="text" name="email" id="id_email" class="input-text" /></td>
      </tr>
      <tr>
        <td><label for="id_pass">password</label></td>
        <td><input type="password" name="hours" id="id_pass" class="input-text" /></td>
      </tr>
      </table>
      <br>
      <a id="search" href="{% url signup %}" class="blue_button">Sign Up</a>
      <br>
      <br>
      <br>
      <h3><a id="0_link" href="#step/0">{{ name }}</a></h3>
		<input value="Spas" id="treatment" name="treatment" type="hidden" placeholder="Looking for... a spa?"> 
		<input value="355 Bryant St, SF" id="location" name="location" type="hidden" placeholder="Where are you?"> 
		<input type="hidden" name="today" value="on" />
    </form>
    </center>
{% endblock %}

{% block pane_0 %}
<div id="chart"></div>
<div style="text-align:right"><a href="/#step/1" class="blue_button">Go</a></div>
{% endblock %}

{% block pane_1 %}

<div class="row"><div class="twelve columns">
    <a id="1_link" href="#step/1">2012</a>
    <a id="m0_link" href="#month/0" class="month_link">J</a>
    <a id="m1_link" href="#month/1" class="month_link">F</a>
    <a id="m2_link" href="#month/2" class="month_link">M</a>
    <a id="m3_link" href="#month/3" class="month_link">A</a>
    <a id="m4_link" href="#month/4" class="month_link">M</a>
    <a id="m5_link" href="#month/5" class="month_link">J</a>
    <a id="m6_link" href="#month/6" class="month_link">J</a>
    <a id="m7_link" href="#month/7" class="month_link">A</a>
    <a id="m8_link" href="#month/8" class="month_link">S</a>
    <a id="m9_link" href="#month/9" class="month_link">O</a>
    <a id="m10_link" href="#month/10" class="month_link">N</a>
    <a id="m11_link" href="#month/11" class="month_link">D</a>
</div>{# columns #}</div>{# row #}

<div class="row"><div class="twelve columns">
<div id="show"></div>
</div>{# columns #}</div>{# row #}
{% endblock %}

{% block pane_2 %}
<div class="row">
<div class="three columns"></div>{# columns #}
<div class="five columns"></div>{# columns #}
<div class="four columns"></div>{# columns #}
</div>{# row #}
{% endblock %}

{% block pane_3 %}
  <div class="row">
  <div class="four columns"></div>
  <div class="eight columns"></div>
  </div>{# row #}
{% endblock %}

{% block pane_4 %}
<div class="row">
<div class="one columns"></div>{# columns #}
<div class="eleven columns"></div>{# columns #}
</div>{# row #}
{% endblock %}

{% block body %}
{% endblock %}
