{% extends "base.html" %}

{% block title %}
    SpaStalkers - Find spas, salons, massages
{% endblock %}


{% block html_head %}
<link rel="stylesheet" href="/dyn/search.css" type="text/css">
<script type="text/javascript">



$(function(){

    $("#adv_search").slideToggle();

    $("a#adv_search_link").click(function() {
        $("#adv_search").slideToggle();
        return false;
    });

    $( "#datepicker" ).datepicker({
        minDate: "+3D",
        maxDate: "+10D",
        showAnim: "blind",
        showOtherMonths: true,
        selectOtherMonths: true,
    });

});

</script>
{% endblock %}

{% block body %}
<img id="background" style="opacity: 0.45;">

<div class="container">
    <div class="row">
        <div class="twelve columns">
			<h1 id="logotype"><a href="/">SpaStalkers</a></h1>

            <center>
			<form method="POST" action="{% url search %}">{% csrf_token %}
				<input class="oversize input-text" type="text" name="treatment" id="treatment" placeholder="I am looking for... massages" style="width: 33%;">
				
				<select name="location">
                <option value="San Francisco, CA">in San Francisco</option>
				<option value="Oakland, CA">Oakland</option>
				<option value="San Jose, CA">San Jose</option>
				</select>

				<input type="hidden" name="today" value="on" />
				<input class="oversize input-text" type="text" name="anotherday" id="datepicker" placeholder="on which day?" style="width: 15%;">

                <input type="submit" id="search" value="SPA ME!" class="nice oversize blue button">
            </form>
            
            <a id="adv_search_link" href="#">Advanced search</a>
            <div id="adv_search">
            <p>pick a day</p>
            
            </div>
            
			</center>

        </div>
    </div>
</div><!-- container -->
{% endblock %}
