{% extends "base.html" %}
{% block html_head %}
<link rel="stylesheet/less" href="/static/search.less" type="text/css">
<script src="/static/js/less.js" type="text/javascript"></script>
<style>
	@import url(http://fonts.googleapis.com/css?family=Pacifico|Chewy|Dancing+Script:400,700);
	
	html {
		font-size: 62.5%;
	}
	
	body {
		background-color: #eee;
	}
		
	#logotype {
		font-family: Pacifico; 
	    font-size: 120px;
		font-size: 12.0rem;	
		color: #7FBA02;
	/*	text-shadow: 2px 2px 2px #000; */
	/*	text-shadow: -1px 0 #5f8b01, 0 1px #5f8b01, 1px 0 #5f8b01, 0 -1px #5f8b01; */
		margin-top: 160px;
	    text-align: center;
	}
	
	#logotype a {
		color: #7FBA02;
	}
	
	#logotype a:hover {
		color: #5f8b01;
	}
	
	#tagline {
		font-family: Helvetica;
		font-size: 30px;
		font-size: 3.0rem;
		color: #5f8b01;
		margin-top: -20px;
		margin-bottom: 36px;
		text-align: center;
	}
	
	#treatment {
		font-size: 22px !important;
		font-size: 2.2rem !important;
		color: #7f7f7f;
		width: 160px;
		padding:  5px 15px !important;
		border:  solid 1px #bbbbbb;
	}
	
    #location {
		font-size: 22px !important;
		font-size: 2.2rem !important;
		color: #7f7f7f;
		width: 220px;
		padding:  5px 15px !important;
		border:  solid 1px #bbbbbb;
    }

	#datepicker {
		font-size: 22px !important;
		font-size: 2.2rem !important;
		color: #7f7f7f;
		width: 160px;
		padding:  5px 5px !important;
		border:  solid 1px #bbbbbb;
	}
	
	#search {
		font-size: 22px;
		font-size: 2.2rem;
		color: #fff;
		text-transform: uppercase;
		background-color: #027fb9;
		border: 0;
		padding: 5px 15px !important;
	}
	
	#search:hover{
		background-color: #015f8a;
	}

	select {
		font-size: 22px !important;
		font-size: 2.2rem;
		color: #7f7f7f;
		padding: 4px 5px !important;
		border: solid 1px #bbbbbb;
		display: inline;
	}
	
	option {
		font-style: italic;
	}
	
	#adv_search {
	    border: 1px solid black;
	    padding: 0.5em;
	}
</style>

<script type="text/javascript">
$(function(){
    $( "#datepicker" ).datepicker({
        minDate: "+3D",
        maxDate: "+10D",
        showAnim: "blind",
        showOtherMonths: true,
        selectOtherMonths: true,
    });
});
</script>
{% endblock %}


{% block title %}
Search - SpaStalker
{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="twelve columns">
			<h1 id="logotype"><a href="/">SpaStalker</a></h1>
			<h2 id="tagline">We're obsessed.</h2>

			<center>
			<form method="POST" action="{% url results %}">{% csrf_token %}
				<input value="Spas" id="treatment" name="treatment" type="text" placeholder="Looking for... a spa?"> 
				<h3 style="display: inline;"> around </h3> <input value="355 Bryant St, SF" id="location" name="location" type="text" placeholder="Where are you?"> 
				<input type="hidden" name="today" value="on" />
				<!-- <input id="datepicker" name="anotherday" type="text" name="anotherday" placeholder="on which day?">
-->
				<input id="search" type="submit" value="Spa me!"> 
            </form>
            </center>

        </div><!-- columns -->
    </div><!-- row -->
</div><!-- container -->
{% endblock %}
