  <li>
  <input type="checkbox" id="id_Richmond_Presidio" name="Richmond/Presidio" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Richmond_Presidio">Richmond/Presidio</label>
  </li>

  <li>
  <input type="checkbox" id="id_Marina_Cow_Hollow" name="Marina/Cow Hollow" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Marina_Cow_Hollow">Marina/Cow Hollow</label>
  </li>

  <li>
  <input type="checkbox" id="id_Pacific_Heights" name="Pacific Heights" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Pacific_Heights">Pacific Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Russian_Hill_Nob_Hill" name="Russian Hill/Nob Hill" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Russian_Hill_Nob_Hill">Russian Hill/Nob Hill</label>
  </li>

  <li>
  <input type="checkbox" id="id_North_Beach_Fishermans_Wharf" name="North Beach/Fisherman&#39;s Wharf" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_North_Beach_Fishermans_Wharf">North Beach/Fisherman&#39;s Wharf</label>
  </li>

  <li>
  <input type="checkbox" id="id_Union_Sq_Civic_Ctr_FiDi" name="Union Sq/Civic Ctr/FiDi" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Union_Sq_Civic_Ctr_FiDi">Union Sq/Civic Ctr/FiDi</label>
  </li>

  <li>
  <input type="checkbox" id="id_SoMa_South_Beach" name="SoMa/South Beach" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_SoMa_South_Beach">SoMa/South Beach</label>
  </li>

  <li>
  <input type="checkbox" id="id_Western_Addition" name="Western Addition" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Western_Addition">Western Addition</label>
  </li>

  <li>
  <input type="checkbox" id="id_Haight" name="Haight" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Haight">Haight</label>
  </li>

  <li>
  <input type="checkbox" id="id_Castro" name="Castro" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Castro">Castro</label>
  </li>

  <li>
  <input type="checkbox" id="id_Mission" name="Mission" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Mission">Mission</label>
  </li>

  <li>
  <input type="checkbox" id="id_Potrero_Hill" name="Potrero Hill" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Potrero_Hill">Potrero Hill</label>
  </li>

  <li>
  <input type="checkbox" id="id_Noe_Valley" name="Noe Valley" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Noe_Valley">Noe Valley</label>
  </li>

  <li>
  <input type="checkbox" id="id_Bernal_Heights" name="Bernal Heights" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Bernal_Heights">Bernal Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Twin_Peaks" name="Twin Peaks" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Twin_Peaks">Twin Peaks</label>
  </li>

  <li>
  <input type="checkbox" id="id_Sunset_Lake_Merced" name="Sunset/Lake Merced" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Sunset_Lake_Merced">Sunset/Lake Merced</label>
  </li>

  <li>
  <input type="checkbox" id="id_Ingleside_Excelsior" name="Ingleside/Excelsior" data-bind="click:function(){CriteriaControls.show_when();return true;}"/>
  <label for="id_Ingleside_Excelsior">Ingleside/Excelsior</label>
  </li>

