  <li>
  <input type="checkbox" id="id_Alamo_Square" name="Alamo Square"/>
  <label for="id_Alamo_Square">Alamo Square</label>
  </li>

  <li>
  <input type="checkbox" id="id_Anza_Vista" name="Anza Vista"/>
  <label for="id_Anza_Vista">Anza Vista</label>
  </li>

  <li>
  <input type="checkbox" id="id_Ashbury_Heights" name="Ashbury Heights"/>
  <label for="id_Ashbury_Heights">Ashbury Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Balboa_Park" name="Balboa Park"/>
  <label for="id_Balboa_Park">Balboa Park</label>
  </li>

  <li>
  <input type="checkbox" id="id_Balboa_Terrace" name="Balboa Terrace"/>
  <label for="id_Balboa_Terrace">Balboa Terrace</label>
  </li>

  <li>
  <input type="checkbox" id="id_Bayview" name="Bayview"/>
  <label for="id_Bayview">Bayview</label>
  </li>

  <li>
  <input type="checkbox" id="id_Belden_Place" name="Belden Place"/>
  <label for="id_Belden_Place">Belden Place</label>
  </li>

  <li>
  <input type="checkbox" id="id_Bernal_Heights" name="Bernal Heights"/>
  <label for="id_Bernal_Heights">Bernal Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Buena_Vista" name="Buena Vista"/>
  <label for="id_Buena_Vista">Buena Vista</label>
  </li>

  <li>
  <input type="checkbox" id="id_Castro" name="Castro"/>
  <label for="id_Castro">Castro</label>
  </li>

  <li>
  <input type="checkbox" id="id_Cathedral_Hill" name="Cathedral Hill"/>
  <label for="id_Cathedral_Hill">Cathedral Hill</label>
  </li>

  <li>
  <input type="checkbox" id="id_Cayuga_Terrace" name="Cayuga Terrace"/>
  <label for="id_Cayuga_Terrace">Cayuga Terrace</label>
  </li>

  <li>
  <input type="checkbox" id="id_China_Basin" name="China Basin"/>
  <label for="id_China_Basin">China Basin</label>
  </li>

  <li>
  <input type="checkbox" id="id_Chinatown" name="Chinatown"/>
  <label for="id_Chinatown">Chinatown</label>
  </li>

  <li>
  <input type="checkbox" id="id_Civic_Center" name="Civic Center"/>
  <label for="id_Civic_Center">Civic Center</label>
  </li>

  <li>
  <input type="checkbox" id="id_Clarendon_Heights" name="Clarendon Heights"/>
  <label for="id_Clarendon_Heights">Clarendon Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Cole_Valley" name="Cole Valley"/>
  <label for="id_Cole_Valley">Cole Valley</label>
  </li>

  <li>
  <input type="checkbox" id="id_Corona_Heights" name="Corona Heights"/>
  <label for="id_Corona_Heights">Corona Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Cow_Hollow" name="Cow Hollow"/>
  <label for="id_Cow_Hollow">Cow Hollow</label>
  </li>

  <li>
  <input type="checkbox" id="id_Crocker-Amazon" name="Crocker-Amazon"/>
  <label for="id_Crocker-Amazon">Crocker-Amazon</label>
  </li>

  <li>
  <input type="checkbox" id="id_Design_District" name="Design District"/>
  <label for="id_Design_District">Design District</label>
  </li>

  <li>
  <input type="checkbox" id="id_Diamond_Heights" name="Diamond Heights"/>
  <label for="id_Diamond_Heights">Diamond Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Dogpatch" name="Dogpatch"/>
  <label for="id_Dogpatch">Dogpatch</label>
  </li>

  <li>
  <input type="checkbox" id="id_Dolores_Heights" name="Dolores Heights"/>
  <label for="id_Dolores_Heights">Dolores Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Duboce_Triangle" name="Duboce Triangle"/>
  <label for="id_Duboce_Triangle">Duboce Triangle</label>
  </li>

  <li>
  <input type="checkbox" id="id_Embarcadero" name="Embarcadero"/>
  <label for="id_Embarcadero">Embarcadero</label>
  </li>

  <li>
  <input type="checkbox" id="id_Excelsior" name="Excelsior"/>
  <label for="id_Excelsior">Excelsior</label>
  </li>

  <li>
  <input type="checkbox" id="id_Fillmore" name="Fillmore"/>
  <label for="id_Fillmore">Fillmore</label>
  </li>

  <li>
  <input type="checkbox" id="id_Financial_District" name="Financial District"/>
  <label for="id_Financial_District">Financial District</label>
  </li>

  <li>
  <input type="checkbox" id="id_Financial_District_South" name="Financial District South"/>
  <label for="id_Financial_District_South">Financial District South</label>
  </li>

  <li>
  <input type="checkbox" id="id_Fisherman's_Wharf" name="Fisherman's Wharf"/>
  <label for="id_Fisherman's_Wharf">Fisherman's Wharf</label>
  </li>

  <li>
  <input type="checkbox" id="id_Forest_Hill" name="Forest Hill"/>
  <label for="id_Forest_Hill">Forest Hill</label>
  </li>

  <li>
  <input type="checkbox" id="id_Forest_Knolls" name="Forest Knolls"/>
  <label for="id_Forest_Knolls">Forest Knolls</label>
  </li>

  <li>
  <input type="checkbox" id="id_Frederick_Knob" name="Frederick Knob"/>
  <label for="id_Frederick_Knob">Frederick Knob</label>
  </li>

  <li>
  <input type="checkbox" id="id_French_Quarter_(Belden_Place)" name="French Quarter (Belden Place)"/>
  <label for="id_French_Quarter_(Belden_Place)">French Quarter (Belden Place)</label>
  </li>

  <li>
  <input type="checkbox" id="id_Glen_Park" name="Glen Park"/>
  <label for="id_Glen_Park">Glen Park</label>
  </li>

  <li>
  <input type="checkbox" id="id_Golden_Gate_Heights" name="Golden Gate Heights"/>
  <label for="id_Golden_Gate_Heights">Golden Gate Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Haight-Ashbury" name="Haight-Ashbury"/>
  <label for="id_Haight-Ashbury">Haight-Ashbury</label>
  </li>

  <li>
  <input type="checkbox" id="id_Hayes_Valley" name="Hayes Valley"/>
  <label for="id_Hayes_Valley">Hayes Valley</label>
  </li>

  <li>
  <input type="checkbox" id="id_Hunters_Point" name="Hunters Point"/>
  <label for="id_Hunters_Point">Hunters Point</label>
  </li>

  <li>
  <input type="checkbox" id="id_India_Basin" name="India Basin"/>
  <label for="id_India_Basin">India Basin</label>
  </li>

  <li>
  <input type="checkbox" id="id_Ingleside" name="Ingleside"/>
  <label for="id_Ingleside">Ingleside</label>
  </li>

  <li>
  <input type="checkbox" id="id_Ingleside_Terraces" name="Ingleside Terraces"/>
  <label for="id_Ingleside_Terraces">Ingleside Terraces</label>
  </li>

  <li>
  <input type="checkbox" id="id_Inner_Sunset" name="Inner Sunset"/>
  <label for="id_Inner_Sunset">Inner Sunset</label>
  </li>

  <li>
  <input type="checkbox" id="id_Islais_Creek" name="Islais Creek"/>
  <label for="id_Islais_Creek">Islais Creek</label>
  </li>

  <li>
  <input type="checkbox" id="id_Jackson_Square" name="Jackson Square"/>
  <label for="id_Jackson_Square">Jackson Square</label>
  </li>

  <li>
  <input type="checkbox" id="id_Japantown" name="Japantown"/>
  <label for="id_Japantown">Japantown</label>
  </li>

  <li>
  <input type="checkbox" id="id_Jordan_Park" name="Jordan Park"/>
  <label for="id_Jordan_Park">Jordan Park</label>
  </li>

  <li>
  <input type="checkbox" id="id_Laguna_Honda" name="Laguna Honda"/>
  <label for="id_Laguna_Honda">Laguna Honda</label>
  </li>

  <li>
  <input type="checkbox" id="id_Lake" name="Lake"/>
  <label for="id_Lake">Lake</label>
  </li>

  <li>
  <input type="checkbox" id="id_Lakeside" name="Lakeside"/>
  <label for="id_Lakeside">Lakeside</label>
  </li>

  <li>
  <input type="checkbox" id="id_Lakeshore" name="Lakeshore"/>
  <label for="id_Lakeshore">Lakeshore</label>
  </li>

  <li>
  <input type="checkbox" id="id_Laurel_Heights" name="Laurel Heights"/>
  <label for="id_Laurel_Heights">Laurel Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Little_Hollywood" name="Little Hollywood"/>
  <label for="id_Little_Hollywood">Little Hollywood</label>
  </li>

  <li>
  <input type="checkbox" id="id_Little_Russia" name="Little Russia"/>
  <label for="id_Little_Russia">Little Russia</label>
  </li>

  <li>
  <input type="checkbox" id="id_Little_Saigon" name="Little Saigon"/>
  <label for="id_Little_Saigon">Little Saigon</label>
  </li>

  <li>
  <input type="checkbox" id="id_Lone_Mountain" name="Lone Mountain"/>
  <label for="id_Lone_Mountain">Lone Mountain</label>
  </li>

  <li>
  <input type="checkbox" id="id_Lower_Haight" name="Lower Haight"/>
  <label for="id_Lower_Haight">Lower Haight</label>
  </li>

  <li>
  <input type="checkbox" id="id_Lower_Pacific_Heights" name="Lower Pacific Heights"/>
  <label for="id_Lower_Pacific_Heights">Lower Pacific Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Lower_Nob_Hill" name="Lower Nob Hill"/>
  <label for="id_Lower_Nob_Hill">Lower Nob Hill</label>
  </li>

  <li>
  <input type="checkbox" id="id_Marina_District" name="Marina District"/>
  <label for="id_Marina_District">Marina District</label>
  </li>

  <li>
  <input type="checkbox" id="id_Merced_Heights" name="Merced Heights"/>
  <label for="id_Merced_Heights">Merced Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Merced_Manor" name="Merced Manor"/>
  <label for="id_Merced_Manor">Merced Manor</label>
  </li>

  <li>
  <input type="checkbox" id="id_Midtown_Terrace" name="Midtown Terrace"/>
  <label for="id_Midtown_Terrace">Midtown Terrace</label>
  </li>

  <li>
  <input type="checkbox" id="id_Mid-Market" name="Mid-Market"/>
  <label for="id_Mid-Market">Mid-Market</label>
  </li>

  <li>
  <input type="checkbox" id="id_Miraloma_Park" name="Miraloma Park"/>
  <label for="id_Miraloma_Park">Miraloma Park</label>
  </li>

  <li>
  <input type="checkbox" id="id_Mission_Bay" name="Mission Bay"/>
  <label for="id_Mission_Bay">Mission Bay</label>
  </li>

  <li>
  <input type="checkbox" id="id_Mission_District" name="Mission District"/>
  <label for="id_Mission_District">Mission District</label>
  </li>

  <li>
  <input type="checkbox" id="id_Mission_Dolores" name="Mission Dolores"/>
  <label for="id_Mission_Dolores">Mission Dolores</label>
  </li>

  <li>
  <input type="checkbox" id="id_Mission_Terrace" name="Mission Terrace"/>
  <label for="id_Mission_Terrace">Mission Terrace</label>
  </li>

  <li>
  <input type="checkbox" id="id_Monterey_Heights" name="Monterey Heights"/>
  <label for="id_Monterey_Heights">Monterey Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Mount_Davidson" name="Mount Davidson"/>
  <label for="id_Mount_Davidson">Mount Davidson</label>
  </li>

  <li>
  <input type="checkbox" id="id_Nob_Hill" name="Nob Hill"/>
  <label for="id_Nob_Hill">Nob Hill</label>
  </li>

  <li>
  <input type="checkbox" id="id_Noe_Valley" name="Noe Valley"/>
  <label for="id_Noe_Valley">Noe Valley</label>
  </li>

  <li>
  <input type="checkbox" id="id_North_Beach" name="North Beach"/>
  <label for="id_North_Beach">North Beach</label>
  </li>

  <li>
  <input type="checkbox" id="id_North_of_Panhandle" name="North of Panhandle"/>
  <label for="id_North_of_Panhandle">North of Panhandle</label>
  </li>

  <li>
  <input type="checkbox" id="id_Oceanview" name="Oceanview"/>
  <label for="id_Oceanview">Oceanview</label>
  </li>

  <li>
  <input type="checkbox" id="id_Outer_Mission" name="Outer Mission"/>
  <label for="id_Outer_Mission">Outer Mission</label>
  </li>

  <li>
  <input type="checkbox" id="id_Pacific_Heights" name="Pacific Heights"/>
  <label for="id_Pacific_Heights">Pacific Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Parkmerced" name="Parkmerced"/>
  <label for="id_Parkmerced">Parkmerced</label>
  </li>

  <li>
  <input type="checkbox" id="id_Parkside" name="Parkside"/>
  <label for="id_Parkside">Parkside</label>
  </li>

  <li>
  <input type="checkbox" id="id_Parnassus" name="Parnassus"/>
  <label for="id_Parnassus">Parnassus</label>
  </li>

  <li>
  <input type="checkbox" id="id_Polk_Gulch" name="Polk Gulch"/>
  <label for="id_Polk_Gulch">Polk Gulch</label>
  </li>

  <li>
  <input type="checkbox" id="id_Portola" name="Portola"/>
  <label for="id_Portola">Portola</label>
  </li>

  <li>
  <input type="checkbox" id="id_Portola_Place" name="Portola Place"/>
  <label for="id_Portola_Place">Portola Place</label>
  </li>

  <li>
  <input type="checkbox" id="id_Potrero_Hill" name="Potrero Hill"/>
  <label for="id_Potrero_Hill">Potrero Hill</label>
  </li>

  <li>
  <input type="checkbox" id="id_Presidio" name="Presidio"/>
  <label for="id_Presidio">Presidio</label>
  </li>

  <li>
  <input type="checkbox" id="id_Presidio_Heights" name="Presidio Heights"/>
  <label for="id_Presidio_Heights">Presidio Heights</label>
  </li>

  <li>
  <input type="checkbox" id="id_Richmond_District" name="Richmond District"/>
  <label for="id_Richmond_District">Richmond District</label>
  </li>

  <li>
  <input type="checkbox" id="id_Rincon_Hill" name="Rincon Hill"/>
  <label for="id_Rincon_Hill">Rincon Hill</label>
  </li>

  <li>
  <input type="checkbox" id="id_Russian_Hill" name="Russian Hill"/>
  <label for="id_Russian_Hill">Russian Hill</label>
  </li>

  <li>
  <input type="checkbox" id="id_Saint_Francis_Wood" name="Saint Francis Wood"/>
  <label for="id_Saint_Francis_Wood">Saint Francis Wood</label>
  </li>

  <li>
  <input type="checkbox" id="id_Sea_Cliff" name="Sea Cliff"/>
  <label for="id_Sea_Cliff">Sea Cliff</label>
  </li>

  <li>
  <input type="checkbox" id="id_Sherwood_Forest" name="Sherwood Forest"/>
  <label for="id_Sherwood_Forest">Sherwood Forest</label>
  </li>

  <li>
  <input type="checkbox" id="id_Silver_Terrace" name="Silver Terrace"/>
  <label for="id_Silver_Terrace">Silver Terrace</label>
  </li>

  <li>
  <input type="checkbox" id="id_Somisspo" name="Somisspo"/>
  <label for="id_Somisspo">Somisspo</label>
  </li>

  <li>
  <input type="checkbox" id="id_South_Beach" name="South Beach"/>
  <label for="id_South_Beach">South Beach</label>
  </li>

  <li>
  <input type="checkbox" id="id_South_of_Market" name="South of Market"/>
  <label for="id_South_of_Market">South of Market</label>
  </li>

  <li>
  <input type="checkbox" id="id_South_Park" name="South Park"/>
  <label for="id_South_Park">South Park</label>
  </li>

  <li>
  <input type="checkbox" id="id_Sunnydale" name="Sunnydale"/>
  <label for="id_Sunnydale">Sunnydale</label>
  </li>

  <li>
  <input type="checkbox" id="id_Sunnyside" name="Sunnyside"/>
  <label for="id_Sunnyside">Sunnyside</label>
  </li>

  <li>
  <input type="checkbox" id="id_Sunset_District" name="Sunset District"/>
  <label for="id_Sunset_District">Sunset District</label>
  </li>

  <li>
  <input type="checkbox" id="id_Telegraph_Hill" name="Telegraph Hill"/>
  <label for="id_Telegraph_Hill">Telegraph Hill</label>
  </li>

  <li>
  <input type="checkbox" id="id_Tenderloin" name="Tenderloin"/>
  <label for="id_Tenderloin">Tenderloin</label>
  </li>

  <li>
  <input type="checkbox" id="id_Treasure_Island" name="Treasure Island"/>
  <label for="id_Treasure_Island">Treasure Island</label>
  </li>

  <li>
  <input type="checkbox" id="id_Twin_Peaks" name="Twin Peaks"/>
  <label for="id_Twin_Peaks">Twin Peaks</label>
  </li>

  <li>
  <input type="checkbox" id="id_Union_Square" name="Union Square"/>
  <label for="id_Union_Square">Union Square</label>
  </li>

  <li>
  <input type="checkbox" id="id_University_Mound" name="University Mound"/>
  <label for="id_University_Mound">University Mound</label>
  </li>

  <li>
  <input type="checkbox" id="id_Upper_Market" name="Upper Market"/>
  <label for="id_Upper_Market">Upper Market</label>
  </li>

  <li>
  <input type="checkbox" id="id_Visitacion_Valley" name="Visitacion Valley"/>
  <label for="id_Visitacion_Valley">Visitacion Valley</label>
  </li>

  <li>
  <input type="checkbox" id="id_Vista_del_Mar" name="Vista del Mar"/>
  <label for="id_Vista_del_Mar">Vista del Mar</label>
  </li>

  <li>
  <input type="checkbox" id="id_West_Portal" name="West Portal"/>
  <label for="id_West_Portal">West Portal</label>
  </li>

  <li>
  <input type="checkbox" id="id_Western_Addition" name="Western Addition"/>
  <label for="id_Western_Addition">Western Addition</label>
  </li>

  <li>
  <input type="checkbox" id="id_Westwood_Highlands" name="Westwood Highlands"/>
  <label for="id_Westwood_Highlands">Westwood Highlands</label>
  </li>

  <li>
  <input type="checkbox" id="id_Westwood_Park" name="Westwood Park"/>
  <label for="id_Westwood_Park">Westwood Park</label>
  </li>

  <li>
  <input type="checkbox" id="id_Yerba_Buena" name="Yerba Buena"/>
  <label for="id_Yerba_Buena">Yerba Buena</label>
  </li>

