{% extends "base.html" %}
{% block html_head %}
<style>
body {
	background-color: #eee;
}
</style>
{% endblock %}
{% block title %}JuVuu User Signup{% endblock %}
{% block body %}
<div class="container">

<div id="header" class="row"><div class="twelve columns">
    <h1><a href="/">JuVuu User Signup</a></h1>
</div></div>

<div id="content" class="row">
	<div class="twelve columns">
		<div class="one columns">HAI!</div>
		<div class="ten columns">
			<h2 style="color: #027FB9;">YO!</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla sem sed nibh venenatis placerat. Mauris eu nulla eu tellus pulvinar aliquet in ac metus. Proin scelerisque pellentesque eros, nec porta purus convallis in. Sed pellentesque tempor neque id imperdiet. Phasellus cursus lacinia augue eu eleifend.</p>

			<center><a href="/confirmation" class="large nice round red button">Yeah, book it!</a></center><br><br>
	
			<hr>
			
			<p class="sosumi">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla sem sed nibh venenatis placerat. Mauris eu nulla eu tellus pulvinar aliquet in ac metus. Proin scelerisque pellentesque eros, nec porta purus convallis in. Sed pellentesque tempor neque id imperdiet. Phasellus cursus lacinia augue eu eleifend. Vestibulum vitae sapien vel leo ornare ultrices. Vivamus id tortor tortor. Vestibulum tempus, libero at pretium euismod, turpis velit mollis erat, vitae suscipit sapien neque vitae mi.</p>
			</div>
		<div class="one columns"></div>
	</div>
</div>

</div>{# container #}
{% endblock %}
