{% extends "base.html" %}
{% block html_head %}
<link rel="stylesheet/less" href="/static/base.less" type="text/css">
<script src="/static/js/less.js" type="text/javascript"></script>
{% endblock %}
{% block title %}JuVuu User Signup{% endblock %}
{% block body %}
<div class="container">

<div id="header" class="row"><div class="twelve columns">
    <h1>JuVuu User Signup</h1>
</div></div>{# header #}

<div id="content" class="row">
	<div class="one columns">
	    HAI!
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla sem sed nibh venenatis placerat. Mauris eu nulla eu tellus pulvinar aliquet in ac metus. Proin scelerisque pellentesque eros, nec porta purus convallis in. Sed pellentesque tempor neque id imperdiet. Phasellus cursus lacinia augue eu eleifend.</p>
	</div>
	<div class="ten columns">
		<h2>YO!</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla sem sed nibh venenatis placerat. Mauris eu nulla eu tellus pulvinar aliquet in ac metus.</p>
	<form method="POST" action="{% url signup %}">
	  {% csrf_token %}
		<table>
        {{ form }}
		</table>
		<p>Proin scelerisque pellentesque eros, nec porta purus convallis in. Sed pellentesque tempor neque id imperdiet. Phasellus cursus lacinia augue eu eleifend.</p>

		<center><input class="buttonish" type="submit" value="Yeah, sign me up!"></center>
    </form>

		<hr>

		<p class="sosumi">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla sem sed nibh venenatis placerat. Mauris eu nulla eu tellus pulvinar aliquet in ac metus. Proin scelerisque pellentesque eros, nec porta purus convallis in. Sed pellentesque tempor neque id imperdiet. Phasellus cursus lacinia augue eu eleifend. Vestibulum vitae sapien vel leo ornare ultrices. Vivamus id tortor tortor. Vestibulum tempus, libero at pretium euismod, turpis velit mollis erat, vitae suscipit sapien neque vitae mi.</p>
		</div>
	<div class="one columns"></div>
</div>

</div>{# container #}
{% endblock %}
