{% extends "base.html" %}
{% block html_head %}
<link rel="stylesheet/less" href="/static/spa_home.less" type="text/css">
<script src="/static/js/less.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
});
</script>
{% endblock %}

{% block title %}SpaStalker Spa Home{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <div class="hull panel">
    			<h3>SpaStalker</h3>
    			<h1>Spa Home</h1>

    			<p><a href="dashboard/#step/0">Set up initial info.</a> procedures, staff, hours, etc...</p>
    			<ol>
    			    <li><a href="dashboard/#step/1">Services Provided</a></li>
    			    <li><a href="dashboard/#d">Staff</a></li>
    			</ol>

    			<p>Calendar: <a href="rad/#month/11">December</a> | <a href="rad/#year">2011</a></p>

            </div>{# hull panel #}
        </div>{# columns #}
    </div>{# row #}
</div>{# container #}
{% endblock %}
