{% extends "base.html" %}
{% block html_head %}
<link rel="stylesheet/less" href="/static/spa_home.less" type="text/css">
<script src="/static/js/less.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
});
</script>
{% endblock %}

{% block title %}SpaStalker Spa Home{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="twelve columns">
			<h1>SpaStalker</h1>
        </div>{# columns #}
    </div>{# row #}
</div>{# container #}
{% endblock %}
