{% extends "spa_base.html" %}
{% block html_head %}
<link rel="stylesheet/less" href="/static/spa_home.less" type="text/css">
<script src="/static/js/less.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
});
</script>
{% endblock %}

{% block title %}Spa Home{% endblock %}

{% block header %}
<div id="title_bar">
  <h1>{{ spa_name|default:"&lt;SPA NAME&gt;" }}</h1> <h3>Home</h3>
</div>
{% endblock %}

{% block body %}
<p><a href="dashboard/#step/0">Set up initial info.</a> procedures, staff, hours, etc...</p>
<ol>
    <li><a href="dashboard/#step/1">Services Provided</a></li>
    <li><a href="dashboard/#d">Staff</a></li>
</ol>

<p>Calendar: <a href="rad/#month/11">December</a> | <a href="rad/#year">2011</a></p>
{% endblock %}
