<!DOCTYPE html>
<html lang="en">
<head>
	<title>Juvu</title>
<script type="text/javascript" src="/static/js/booking.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/booking.css" />
  <!--popout window-->
  <script type="text/javascript" src="../static/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
</head>
<body>
	<div class="wrapper">
		<div class="top-nav" >
			<div class="utility"><a href="#">( log out )</a></div>
			<div class="utility"><a href="#">user's account name</a></div>
			<div class="logo">
				<img src="../static/image/logo.png" />
			</div>
			<div class="tagline">
				<img src="../static/image/tagline.png" />
			</div>
		</div>
		
		<div class="big_heavy_title">You will not be charged!</div>
		<p class="instruct">
			However, we will use your credit card to reserve the appointment.<br/>
			You will pay (Merchant Name) after the service is completed.<br/>
		</p><!--end of instruction-->
		<p class="instruct_s">
			See (Merchant Name)'s <a class="link cancel" href="#cancellation">cancellation policy</a><br/>
			See what (Merchant Name) <a class="link payment" href="#payment">accepts as payment methods</a>
		</p>
		{# popout window #}
		<div style="display:none;">
			<div id="cancellation">
				<div id="cancellation_title">cancellation policy</div>
				<p>
				Duis in risus at quam ullamcorper adipiscing ut volutpat neque. 
				Ut eget nibh ac arcu pulvinar posuere at non leo. Vivamus quis 
				dui quis nisl venenatis commodo. Pellentesque cursus diam in neque 
				ornare lobortis. Integer gravida sapien eget erat consequat nec 
				congue neque porta. Vestibulum tempus tortor eget risus commodo ultricies.
				</p>
			</div>
		</div>
		<div style="display:none;">
			<div id="payment">
				<div id="cancellation_title">payment methods</div>
				<ul class="pay_list">
					<li>Cash</li>
					<li>American Express</li>
					<li>MasterCard</li>
					<li>VIsa</li>
				</ul>
			</div>
		</div>
		{# End of popout window #}
		
		<form>
		
		{# Appointment info #}
		<ul class="confirm_li">
			<li>Appointment Info</li>
		</ul>
		
		<div class="congrats_row">
			<ul class="appo_ul">
				<li class="appo_li a_date">Date</li>
				<li class="appo_li a_sTime">Start Time</li>
				<li class="appo_li a_service">Service</li>
				<li class="appo_li a_minute">Minutes</li>
				<li class="appo_li a_merchant">Merchant</li>
				<li class="appo_li a_price">Price</li>
				<li class="appo_li a_cancel">Cancel</li>
			</ul>
			<br/>
			<ul class="appo_ul colorGray">
				<li class="appo_li a_date">Apr 1, 2012</li>
				<li class="appo_li a_sTime">PM 1:00</li>
				<li class="appo_li a_service">Theraputic Massage</li>
				<li class="appo_li a_minute">60</li>
				<li class="appo_li a_merchant">Merchant Name</li>
				<li class="appo_li a_price">$125</li>
				<li class="appo_li a_cancel"><a href="#" class="a_cancel_btn">X</a></li>
			</ul>
			<div style="clear:both;"></div>
		</div>
		
		<div class="confirm_column">
			<ul class="confirm_li">
				<li>billing info:</li>
			</ul>
			<p class="billing_form">
				Name<br/>
				<input type="text" style="width:180px;"/><br/><br/>
				Address<br/>
				<input type="text" style="width:180px;"/><br/>
				City <input type="text" style="width:120px;"/>   
				State 
				<select  class="selection">
					<option value="AL">Alabama</option>
					<option value="AK">Alaska</option>
					<option value="AZ">Arizona</option>
					<option value="AR">Arkansas</option>
					<option value="CA">California</option>
					<option value="CO">Colorado</option>
					<option value="CT">Connecticut</option>
					<option value="DE">Delaware</option>
					<option value="DC">District Of Columbia</option>
					<option value="FL">Florida</option>
					<option value="GA">Georgia</option>
					<option value="HI">Hawaii</option>
					<option value="ID">Idaho</option>
					<option value="IL">Illinois</option>
					<option value="IN">Indiana</option>
					<option value="IA">Iowa</option>
					<option value="KS">Kansas</option>
					<option value="KY">Kentucky</option>
					<option value="LA">Louisiana</option>
					<option value="ME">Maine</option>
					<option value="MD">Maryland</option>
					<option value="MA">Massachusetts</option>
					<option value="MI">Michigan</option>
					<option value="MN">Minnesota</option>
					<option value="MS">Mississippi</option>
					<option value="MO">Missouri</option>
					<option value="MT">Montana</option>
					<option value="NE">Nebraska</option>
					<option value="NV">Nevada</option>
					<option value="NH">New Hampshire</option>
					<option value="NJ">New Jersey</option>
					<option value="NM">New Mexico</option>
					<option value="NY">New York</option>
					<option value="NC">North Carolina</option>
					<option value="ND">North Dakota</option>
					<option value="OH">Ohio</option>
					<option value="OK">Oklahoma</option>
					<option value="OR">Oregon</option>
					<option value="PA">Pennsylvania</option>
					<option value="RI">Rhode Island</option>
					<option value="SC">South Carolina</option>
					<option value="SD">South Dakota</option>
					<option value="TN">Tennessee</option>
					<option value="TX">Texas</option>
					<option value="UT">Utah</option>
					<option value="VT">Vermont</option>
					<option value="VA">Virginia</option>
					<option value="WA">Washington</option>
					<option value="WV">West Virginia</option>
					<option value="WI">Wisconsin</option>
					<option value="WY">Wyoming</option>
				</select>
				Zip <input type="text" style="width:45px;"/><br/><br/>
				Card Type<br/>
				<select>
				  <option value="">Master</option>
				  <option value="">Visa</option>
				  <option value="">American Express</option>
				</select><br/><br/>
				
				Card Number<br/>
				<input type="text" style="width:180px;"/><br/><br/>
				
				Expiration Date<br/>
				Month 
				<select  class="">
				  <option value="">Jan</option>
				  <option value="">Feb</option>
				  <option value="">Mar</option>
				</select>
				Year 
				<select  class="">
				  <option value="">2012</option>
				  <option value="">2011</option>
				  <option value="">2010</option>
				</select><br/><br/>
				CVV Code <input type="text" style="width:30px;"/><br/><br/>
			</p>
		</div>
		
		<div class="confirm_column" style="margin-left:24px;">
			<ul class="confirm_li">
				<li>Notification via:</li>
			</ul>
			<p class="billing_form">
				Mobile Phone<br/>
				<input type="text" style="width:180px;"/><br/><br/>
				Mobile Carrier<br/>
				<select  class="">
				  <option value="">AT&T</option>
				  <option value="">Verizon</option>
				  <option value="">T-Mobile</option>
				</select><br/><br/>
				Email<br/>
				<input type="text" style="width:180px;"/><br/><br/>
			</p>
		</div>
		<div style="clear:both;"></div>
		<div class="confirm_area">
			<input type="submit" class="submitBid_btn back" value="back"/>  <input type="submit" class="submitBid_btn conf" value="confirm"/>
		</div>
		
		</form>
		
	</div><!--end of wrapper-->
	
	<script type="text/javascript">
		$(function(){
		  $('input[type="submit"].back').click(function(){
		    window.location.href = "{% url book %}";
		    return false;
		  })
		  $('input[type="submit"].conf').click(function(){
		    window.location.href = "{% url book_confirm %}";
		    return false;
		  })
			{# popout window #}
			$('a.cancel').fancybox({
				'transitionIn'	:	'elastic',
				'transitionOut'	:	'elastic',
				'speedIn'		:	300, 
				'speedOut'		:	200, 
				'overlayShow'	:	true
			});
			$('a.payment').fancybox({
				'transitionIn'	:	'elastic',
				'transitionOut'	:	'elastic',
				'speedIn'		:	300, 
				'speedOut'		:	200, 
				'overlayShow'	:	true
			});
		});
	</script>
	
	
	
</body>
</html>
