{% extends "base.html" %}
{% block title %}Juvu{% endblock %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="/static/css/booking.css">
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/static/js/booking.js"></script>
<script type="text/javascript">
	$(function(){
	  $('.day_info').click(function(){
	    window.location.href = "{% url book_info %}";
	    return false;
	  })
	});
</script>
{% endblock %}
{% block body %}
	<div class="wrapper">
		<div class="top-nav">
			<div class="utility"><a href="#">( log out )</a></div>
			<div class="utility"><a href="#">user's account name</a></div>
			<div class="logo">
				<img src="../static/image/logo.png" />
			</div>
			<div class="tagline">
				<img src="../static/image/tagline.png" />
			</div>
		</div>
		
		<div id="nav_left">
			<div id="header_pre">Preferences & Options</div>
			<ul class="nav_selections" style="margin-top:30px;">
				<li>gender</li>
			</ul>
			<select class="selection">
			  <option value="">Either</option>
			  <option value="">Female Only</option>
			  <option value="">Male Only</option>
			</select>
			
			<ul class="nav_selections" style="margin-top:60px;">
				<li>service provider</li>
			</ul>
			<select  class="selection">
			  <option value="">Any</option>
			  <option value="">Coming Soon</option>
			</select>
			
			<ul class="nav_selections" style="margin-top:60px;">
				<li>options</li>
			</ul>
			<select class="selection">
			  <option value="">None</option>
			</select>
		</div>{# end of left nav #}

		
		<div id="nav_right">
			<div id="header_service">{{treatment  }} at {{ name }}</div>
      <div id="select_appointment">Select Your Appointment</div>
			<div class="timeline_nav">
				<div class="pre_btn">&lt; </div>
				<div class="month_txt">{{ date_label }}</div>
				<div class="next_btn">&gt; </div>
			</div>
			
			<div style="clear:both;"></div>
			
			<ul class="timeline">
				<li class="first_day">{{ day_labels.d0 }}</li>
				<li class="follow_days">{{ day_labels.d1 }}</li>
				<li class="follow_days">{{ day_labels.d2 }}</li>
				<li class="follow_days">{{ day_labels.d3 }}</li>
				<li class="follow_days">{{ day_labels.d4 }}</li>
			</ul>
			<div style="clear:both;"></div>
			
			{# start of the morning schedule #}
			<div class="morning">
				{# <div class="mor_title">morning</div> #}
				<div class="day1">
{% for result in results.morning_1 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
				<div class="days">
{% for result in results.morning_2 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
				<div class="days">
{% for result in results.morning_3 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
				<div class="days">
{% for result in results.morning_4 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
				<div class="days">
{% for result in results.morning_5 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
			</div>
{# end of the morning schedule #}
<div style="clear:both;"></div>

			{# start of the afternoon schedule #}
			<div class="afternoon">
				{# <div class="aft_title">afternoon</div> #}
				<div class="day1">
{% for result in results.afternoon_1 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
				<div class="days">
{% for result in results.afternoon_2 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
				<div class="days">
{% for result in results.afternoon_3 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
				<div class="days">
{% for result in results.afternoon_4 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
				<div class="days">
{% for result in results.afternoon_5 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
			</div>
			{# end of the afternoon schedule #}
			
			<div style="clear:both;"></div>
			
			{# start of the evening schedule #}
			<div class="evening">
				{# <div class="eve_title">evening</div> #}
				<div class="day1">
{% for result in results.evening_1 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
				<div class="days">
{% for result in results.evening_2 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
				<div class="days">
{% for result in results.evening_3 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
				<div class="days">
{% for result in results.evening_4 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
				<div class="days">
{% for result in results.evening_5 %}
<div class="day_info">{{ result.time }}</br>${{ result.price }}</div>
{% endfor %}
				</div>
			</div>
			{# end of the evening schedule #}
		</div>{# end of right nav #}
	</div>{# end of wrapper #}
{% endblock %}

