<!DOCTYPE html>
<html lang="en">
<head>
	<title>Juvu</title>
	<script type="text/javascript" src="../static/js/jquery-1.6.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css" />
    
	<link rel="stylesheet/less" type="text/css" href="../static/css/account.less" />
	<script type="text/javascript" src="../static/js/less-1.3.0.min.js"></script>
	
	<script type="text/javascript" src="../static/js/d3/d3.js"></script>
    <script type="text/javascript" src="../static/js/d3/d3.time.js"></script>
    <script type="text/javascript" src="../static/js/d3/d3.layout.js"></script>
	
	<script type="text/javascript">
		$(function(){
			var s_canvas = d3.select("#account_canvas").append("svg:svg");
			s_canvas
				.attr("width", 300)
				.attr("height", 800)
				.attr("class", "s_canvas");
		});
	</script>
	
	
</head>
<body>
	<div class="wrapper">
		<div class="top-nav" >
			<div class="utility"><a href="#">( log out )</a></div>
			<div class="utility"><a href="#">user's account name</a></div>
			<span class="logo">JUVU.ME</span>
		</div>
		
		<div class="events">
			<ul class="coming_title">
				<li>Upcoming Appointments</li>
			</ul>
			
			<table class="coming">
				<tr>
					<td class="coming_date">04/28/12</td>
					<td class="coming_time">14:00</td>
					<td class="coming_m"><a href="#" class="link">Merchant Name</a></td>
					<td class="coming_s">Theraputic Massage</td>
					<td class="coming_cancel"><a href="#" class="link_c">x</a></td>
					<td class="justLine">{# Nothing here #}</div>
				</tr>
				<tr>
					<td class="coming_date">05/05/12</td>
					<td class="coming_time">08:00</td>
					<td class="coming_m"><a href="#" class="link">Merchant Name</a></td>
					<td class="coming_s">Theraputic Massage</td>
					<td class="coming_cancel"><a href="#" class="link_c">x</a></td>
					<td class="justLine">{# Nothing here #}</div>
				</tr>
			</table>
			
			<ul class="coming_title">
				<li>Past Appointments</li>
			</ul>
			
			<table class="coming">
				<tr>
					<td class="coming_date">04/30/12</td>
					<td class="coming_time">18:00</td>
					<td class="coming_m"><a href="#" class="link">Merchant Name</a></td>
					<td class="coming_s">Theraputic Massage</td>
					<td class="justLine">{# Nothing here #}</div>
				</tr>
			</table>
			
			<ul class="coming_title">
				<li>Outstanding Bids</li>
			</ul>
			
			<table class="coming">
				<tr>
					<td class="outstanding_date">05/15/12</td>
					<td class="outstanding_timeRange">13:00~14:00</td>
					<td class="outstanding_price">$125</td>
					<td class="outstanding_countdown">12:15:29</td>
					<td class="justLine">{# Nothing here #}</td>
					<td class="outstanding_m"><a href="#" class="link">Merchant Name</a></td>
					<td class="outstanding_s">Theraputic Massage</td>
				</tr>
			</table>
		</div>
		
		<div id="account_canvas"></div>
		
		<div style="clear:both;"></div>
	</div>{# end of wrapper #}
</body>

</html>
