<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="language" content="en">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="author" content="Juvu.me">
	<meta name="publisher" content="Agora Health Networks, Inc.">
	<meta name="copyright" content="©2011 Agora Health Networks, Inc. All rights reserved worldwide.">
	<meta http-equiv="pragma" content="no-cache">
    <script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" href="/static/css/foundation/globals.css">
	<link rel="stylesheet" href="/static/css/foundation/ui.css">
	<link rel="stylesheet" href="/static/css/foundation/forms.css">
	<link rel="stylesheet" href="/static/css/foundation/orbit.css">
	<link rel="stylesheet" href="/static/css/foundation/reveal.css">
	<link rel="stylesheet" href="/static/css/foundation/app.css">
	<link rel="stylesheet" href="/static/css/foundation/mobile.css">
	<title>{% block title %}Beauty{% endblock %}</title>
{% block html_head %}{% endblock %}
</head>
<body>
<div class="container"><div class="row">
{% block body %}{% endblock %}
</div>{# row #}</div>{# container #}
</body>
</html>
