<!DOCTYPE html>
<html lang="en">
<head>
	<title>Juvu</title>
	<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
	
    <script type="text/javascript" src="/static/js/d3/d3.js"></script>
    <script type="text/javascript" src="/static/js/d3/d3.time.js"></script>
    <script type="text/javascript" src="/static/js/d3/d3.layout.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/css/booking.css">
</head>
<body>
	<div class="wrapper">
		<div class="top-nav">
			<h1 style="margin:0;">JUVU</h1>
		</div>
		
		<div id="nav_left">
		<form>
			<div id="header_pre">Bid Filters</div>
			
			<ul class="nav_selections" style="margin-top:30px;">
				<li>day</li>
			</ul>
			<select class="selection">
			  <option value="">Wednesday, March 7</option>
			  <option value="">Thursday, March 8</option>
			  <option value="">Friday, March 9</option>
			</select>
			
			
			<ul class="nav_selections" style="margin-top:30px;">
				<li>time range from</li>
			</ul>
			<input type="text" style="width:60px;margin-left:7px;"/> <span style="font-size:0.8em;">to</span> <input type="text" style="width:60px;"/>
			
			<ul class="nav_selections" style="margin-top:40px;">
				<li>bid expires in</li>
			</ul>
			<div class="time_form">
				<input type="text" class="hr_min"/>hr
				<input type="text" class="hr_min"/>min
			</div>
			
			<ul class="nav_selections" style="margin-top:40px;">
				<li>bid price</li>
			</ul>
			<input type="text" style="width:40px;margin-left:7px;"/>
			
			<hr style="margin-top:20px;"/>
			<!--submit bid btn-->
			<input type="submit" class="submitBid_btn" value="submit bid" />
			
		</form>
		</div><!--end of left nav-->
		
		<div id="nav_right">
			<div id="header_service">Bidding On</div>
			<!--titles-->
			<ul class="subhead sub_m">
				<li>merchant</li>
			</ul>
			<ul class="subhead sub_s">
				<li>service</li>
			</ul>
			<ul class="subhead sub_p">
				<li>price range</li>
			</ul>
			
			<!--list data-->
			<div class="list_row">
				<ul class="bid_list">
					<li class="m_list">Nob Hill Spa</li>
					<li class="s_list">Cherry Blossom</li>
					<li class="low_price">130</li>
					<li class="high_price">150</li>
				</ul>
				<!-- 
				//open if we can bid multiple items
				<div class="d_btn">delete</div>
				-->
			</div>
			
			<div style="clear:both;"></div>
			
			
		</div><!--end of right nav-->
	</div><!--end of wrapper-->
	
	<!--
	//this function is for the delete button 
	<script type="text/javascript">
		$(function(){
			$('.d_btn').mouseover(function(){
				$(this).parent().find('.bid_list').css({'color':'#3FA9F5','border-bottom':'1px dotted #3FA9F5'})
			});
			
			$('.d_btn').mouseout(function(){
				$(this).parent().find('.bid_list').css({'color':'#000','border-bottom':'1px dotted #000'})
			});
			
		})
	</script>
	-->
	
</body>
</html>
