<!DOCTYPE html>
<html lang="en">
<head>
	<title>Juvu</title>
	<script type="text/javascript" src="../static/js/jquery-1.6.2.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css">
</head>
<body>
	<div class="wrapper">
		<div class="top-nav">
			<h1 style="margin:0;">JUVU</h1>
		</div>
		
		<div class="big_heavy_title">Congratulations!</div>
		<p class="instruct">
			Your bid has been submitted. We'll let you know if it is accepted, or you can monitor<br/>
			the status of your bid on <a href="#" class="link">your account page.</a>
		</p><!--end of instruction-->
		
	</div><!--end of wrapper-->
</body>
</html>
