<!DOCTYPE html>
<html lang="en">
<head>
	<title>Juvu</title>
	<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/css/booking.css">
</head>
<body>
	<div class="wrapper">
		<div class="top-nav" >
			<div class="utility"><a href="#">( log out )</a></div>
			<div class="utility"><a href="#">user's account name</a></div>
			<div class="logo">
				<img src="/static/image/logo.png" />
			</div>
			<div class="tagline">
				<img src="/static/image/tagline.png" />
			</div>
		</div>
		
		<div class="big_heavy_title">You will be charged if your bid is accepted!</div>
		<p class="instruct">
			Your bid may be accepted any time in the next 30 minutes.<br/>
			If accepted, your card will be charged the bid amount and you will<br/>
			be notified via the method(s) below and on your account page.<br/><br/>
			
			Once submitted, bids cannot be restricted. You are responsible for<br/>
			the appointment unless the bid closes (the bid time expires) or<br/>
			the bid is rejected. Therefore, we strongly suggest you check<br/>
			your account page to see the status of your bid.
		</p><!--end of instruction-->
		
		<form>
		
		{# Bid info #}
		<ul class="confirm_li">
			<li>Bid Info</li>
		</ul>
		
		<div class="congrats_row">
			<ul class="appo_ul">
				<li class="appo_li a_date">Date</li>
				<li class="appo_li a_timeRange">Time Range</li>
				<li class="appo_li a_merchant">Merchant</li>
				<li class="appo_li a_service">Service</li>
				
				<li class="appo_li a_price">Bid Price</li>
				<li class="appo_li a_cancel">Cancel</li>
			</ul>
			<br/>
			<ul class="appo_ul colorGray">
				<li class="appo_li a_date">Apr 1, 2012</li>
				<li class="appo_li a_timeRange">13:00 to 15:00</li>
				<li class="appo_li a_merchant">Merchant Name</li>
				<li class="appo_li a_service">Cherry Blossom</li>
				<li class="appo_li a_price">$125</li>
				<li class="appo_li a_cancel"><a href="#" class="a_cancel_btn">X</a></li>
			</ul>
			<div style="clear:both;"></div>
		</div>
		
		<div class="confirm_column">
			<ul class="confirm_li">
				<li>billing info:</li>
			</ul>
			<p class="billing_form">
				Name<br/>
				<span class="colorGray">Cardholder's name</span><br/><br/>
				
				Address<br/>
				<span class="colorGray">1234 market st. San Francisco CA 91792</span><br/><br/>
				
				Card Type<br/>
				<span class="colorGray">Visa</span><br/><br/>
				
				Last Four Digits<br/>
				<span class="colorGray">1234</span><br/><br/>
				
				Expiration Date<br/>
				<span class="colorGray">0812</span>
				
				<div class="edit_btn">edit</div>
			</p>
			
		</div>
		
		<div class="confirm_column" style="margin-left:24px;">
			<ul class="confirm_li">
				<li>Notification via:</li>
			</ul>
			<p class="billing_form">
				Text<br/>
				<span class="colorGray">415-123-4567 AT&T</span>
			</p>
			<div class="edit_btn">edit</div>
			<p class="billing_form">	
				<br/>Email<br/>
				<span class="colorGray">ag123@fmail.com</span>
			</p>
			<div class="edit_btn">edit</div>
			
		</div>
		<div style="clear:both;"></div>
		
		<div class="confirm_area">
			<div style="font-size:12px;">CVV Code <input type="text" style="width:30px;"/></div>
			<input type="submit" class="submitBid_btn" value="back"/>  <input type="submit" class="submitBid_btn" value="confirm"/>
		</div>
		</form>
	</div><!--end of wrapper-->
</body>
</html>
