<!DOCTYPE html>
<html lang="en">
<head>
	<title>Juvu</title>
	<script type="text/javascript" src="../static/js/jquery-1.6.2.min.js"></script>
	
    <script type="text/javascript" src="../static/js/d3/d3.js"></script>
    <script type="text/javascript" src="../static/js/d3/d3.time.js"></script>
    <script type="text/javascript" src="../static/js/d3/d3.layout.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css">
    <script type="text/javascript" src="../static/js/gMaps.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    
</head>
<body>
	<div class="wrapper">
		<div class="top-nav">
			<h1 style="margin:0;">JUVU</h1>
		</div>
		
		<div class="infoHeader">Your appointment is booked.</div>
		
		<ul class="confirm_li">
			<li>Appointment Info</li>
		</ul>
		
		<div class="congrats_row">
			<ul class="appo_ul">
				
				<li class="appo_li">Date</li>
				<li class="appo_li">Start Time</li>
				<li class="appo_li">Service</li>
				<li class="appo_li">Minutes</li>
				<li class="appo_li">Merchant/li>
				<li class="appo_li">Price</li>
			</ul>
			<br/>
			<ul class="appo_ul">
				<li class="appo_li">Theraputic Massage</li>
				<li class="appo_li">Apr 1, 2012</li>
				<li class="appo_li">PM 1:00</li>
				<li class="appo_li">60</li>
				<li class="appo_li">$125</li>
			</ul>
			<div style="clear:both;"></div>
		</div>
		
		<ul class="confirm_li">
			<li>(Merchant Name) Info</li>
		</ul>
		<div class="congrats_row">
			<div class="congrats_r_leftCol">
				<img width="320" height="240" src="../static/image/login_04.jpg">
				<div id="map_canvas"></div>
			</div>
			
			<div class="congrats_r_rightCol">
				Phone Number<br/>
				<span class="confirm_color">415-123-4567</span>
				<br/><br/>
				Address<br/>
				<span class="confirm_color">1234 market st. San Francisco</span>
				<p class="billing_form">
					Provided by the merchant<br/>
					<a href="#" class="link">General Information</a><br/>
					<a href="#" class="link">Particular Service</a><br/><br/>					
				</p>
			</div>
		</div>
		
	</div><!--end of wrapper-->
</body>

</html>
