<!DOCTYPE html>
<html lang="en">
<head>
	<title>Juvu</title>
	<script type="text/javascript" src="../static/js/jquery-1.6.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css">
    
     <!--popout window-->
    <script type="text/javascript" src="../static/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
</head>
<body>
	<div class="wrapper">
		<div class="top-nav">
			<h1 style="margin:0;">JUVU</h1>
		</div>
		
		<div class="big_heavy_title">You will not be charged on this page.</div>
		<p class="instruct">
			However, we will use your credit card to reserve the appointment.<br/>
			You will pay (Merchant Name) after the service is completed.<br/>
			<!--popout window-->
			<div style="display:none;">
				<div id="cancellation">
					<div id="cancellation_title">cancellation policy</div>
					<!--merchant's cancellation policy contents-->
					<p>
					Duis in risus at quam ullamcorper adipiscing ut volutpat neque. 
					Ut eget nibh ac arcu pulvinar posuere at non leo. Vivamus quis 
					dui quis nisl venenatis commodo. Pellentesque cursus diam in neque 
					ornare lobortis. Integer gravida sapien eget erat consequat nec 
					congue neque porta. Vestibulum tempus tortor eget risus commodo ultricies.
					</p>
				</div>
			</div>
			<div style="display:none;">
			<div id="payment">
				<div id="cancellation_title">payment methods</div>
				<ul class="pay_list">
					<li>Cash</li>
					<li>American Express</li>
					<li>MasterCard</li>
					<li>VIsa</li>
				</ul>
			</div>
		</div><!--End of popout window-->
		</p><!--end of instruction-->
		<p class="instruct_s">
			See (Merchant Name)'s <a class="link cancel" href="#cancellation">cancellation policy</a><br/>
			See what (Merchant Name) <a class="link payment" href="#payment">accepts as payment methods</a>
		</p>
		
		<form>
		
		<div class="confirm_column">
			<ul class="confirm_li">
				<li>billing info:</li>
			</ul>
			<p class="billing_form">
				Name<br/>
				<span class="colorGray">Cardholder's name</span><br/><br/>
				
				Address<br/>
				<span class="colorGray">1234 market st. San Francisco CA 91792</span><br/><br/>
				
				Card Type<br/>
				<span class="colorGray">Visa</span><br/><br/>
				
				Last Four Digits<br/>
				<span class="colorGray">1234</span><br/><br/>
				
				Expiration Date<br/>
				<span class="colorGray">0812</span>
				
				<div class="edit_btn">edit</div>
			</p>
			
		</div>
		
		<div class="confirm_column" style="margin-left:24px;">
			<ul class="confirm_li">
				<li>Notification via:</li>
			</ul>
			<p class="billing_form">
				Text<br/>
				<span class="colorGray">415-123-4567 AT&T</span>
			</p>
			<div class="edit_btn">edit</div>
			<p class="billing_form">	
				<br/>Email<br/>
				<span class="colorGray">ag123@fmail.com</span>
			</p>
			<div class="edit_btn">edit</div>
			
		</div>
		<div style="clear:both;"></div>
		
		<div class="confirm_area">
			<div style="font-size:12px;">CVV Code <input type="text" style="width:30px;"/></div>
			<input type="submit" class="submitBid_btn" value="back"/>  <input type="submit" class="submitBid_btn" value="confirm"/>
		</div>
		</form>
	</div><!--end of wrapper-->
	
	<script type="text/javascript">
		$(function(){
			//popout window
			$('a.cancel').fancybox({
				'transitionIn'	:	'elastic',
				'transitionOut'	:	'elastic',
				'speedIn'		:	300, 
				'speedOut'		:	200, 
				'overlayShow'	:	true
			});
			$('a.payment').fancybox({
				'transitionIn'	:	'elastic',
				'transitionOut'	:	'elastic',
				'speedIn'		:	300, 
				'speedOut'		:	200, 
				'overlayShow'	:	true
			});
		});
	</script>
	
</body>
</html>
