<!DOCTYPE html>
<html lang="en">
<head>
	<title>Juvu</title>
	<script type="text/javascript" src="../static/js/jquery-1.6.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css" />
    
    <!--google maps api-->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <!--popout window-->
    <script type="text/javascript" src="../static/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
   
</head>
<body>
	<div class="wrapper">
		<div class="top-nav">
			<h1 style="margin:0;">JUVU</h1>
		</div>
		
		<div class="big_heavy_title">Your appointment is booked!</div>

		<ul class="confirm_li">
			<li>Appointment Info</li>
		</ul>
		
		<div class="congrats_row">
			<ul class="appo_ul">
				<li class="appo_li a_date">Date</li>
				<li class="appo_li a_sTime">Start Time</li>
				<li class="appo_li a_service">Service</li>
				<li class="appo_li a_minute">Minutes</li>
				<li class="appo_li a_merchant">Merchant</li>
				<li class="appo_li a_price">Price</li>
				<li class="appo_li a_cancel">Cancel</li>
			</ul>
			<br/>
			<ul class="appo_ul" style="color:gray;">
				<li class="appo_li a_date">Apr 1, 2012</li>
				<li class="appo_li a_sTime">PM 1:00</li>
				<li class="appo_li a_service">Theraputic Massage</li>
				<li class="appo_li a_minute">60</li>
				<li class="appo_li a_merchant">Merchant Name</li>
				<li class="appo_li a_price">$125</li>
				<li class="appo_li a_cancel"><a href="#" class="a_cancel_btn">X</a></li>
			</ul>
			<div style="clear:both;"></div>
		</div>
		
		<ul class="confirm_li">
			<li>(Merchant Name) Info</li>
		</ul>
		<div class="congrats_row">
			<div class="congrats_r_leftCol">
				<div class="con_header">General Information</div>
				Phone Number<br/>
				<span class="confirm_color">415-123-4567</span>
				<br/><br/>
				Address<br/>
				<span class="confirm_color">1234 market st. San Francisco</span>
				<p class="m_description">
				Duis in risus at quam ullamcorper adipiscing ut volutpat neque.<br/>
				Ut eget nibh ac arcu pulvinar posuere at non leo.<br/>
				Vivamus quis dui quis nisl venenatis commodo.<br/>
				Pellentesque cursus diam in neque ornare lobortis.<br/>
				Integer gravida sapien eget erat consequat nec congue neque porta.<br/>
				Vestibulum tempus tortor eget risus commodo ultricies.<br/><br/>

				Duis in risus at quam ullamcorper adipiscing ut volutpat neque.<br/>
				Ut eget nibh ac arcu pulvinar posuere at non leo.<br/>
				Vivamus quis dui quis nisl venenatis commodo.<br/>
				Pellentesque cursus diam in neque ornare lobortis.<br/>
				Integer gravida sapien eget erat consequat nec congue neque porta.<br/>
				Vestibulum tempus tortor eget risus commodo ultricies.
				</p>
				
				<!--popout window-->
				<a class="link cancel" href="#cancellation">cancellation policy</a>
				<div style="display:none;">
					<div id="cancellation">
						<div id="cancellation_title">cancellation policy</div>
						{# merchant's cancellation policy contents #}
						<p>
						Duis in risus at quam ullamcorper adipiscing ut volutpat neque. 
						Ut eget nibh ac arcu pulvinar posuere at non leo. Vivamus quis 
						dui quis nisl venenatis commodo. Pellentesque cursus diam in neque 
						ornare lobortis. Integer gravida sapien eget erat consequat nec 
						congue neque porta. Vestibulum tempus tortor eget risus commodo ultricies.
						</p>
					</div>
				</div>
				
				<a class="link payment" href="#payment">cancellation policy</a>
				
				
				<!--End of popout window-->
			</div>
			
			<div class="congrats_r_rightCol">
				<div class="con_header">Location Map</div>
				<div id="map_canvas"></div>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div><!--end of wrapper-->
	<script type="text/javascript">
		$(function(){
			//google maps
			window.onload = function()
			{
				initialize();
			}
			
			function initialize() {
				var myLatlng = new google.maps.LatLng(37.78, -122.44);
				var myOptions = {
					zoom: 12,
					center: myLatlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				}
				var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					title:"Merchant Name"
				});
			}
			
			//popout window
			$('a.cancel').fancybox({
				'transitionIn'	:	'elastic',
				'transitionOut'	:	'elastic',
				'speedIn'		:	300, 
				'speedOut'		:	200, 
				'overlayShow'	:	true
			});
		});
	</script>
</body>

</html>
