<!DOCTYPE html>
<html lang="en">
<head>
	<title>Juvu</title>
	<script type="text/javascript" src="../static/js/jquery-1.6.2.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css">
</head>
<body>
	<div class="wrapper">
		<div class="top-nav" >
			<div class="utility"><a href="#">( log out )</a></div>
			<div class="utility"><a href="#">user's account name</a></div>
			<span class="logo">JUVU.ME</span>
		</div>
		
		<div id="nav_left">
			<div id="header_pre">Preferences & Options</div>
			<ul class="nav_selections" style="margin-top:30px;">
				<li>gender</li>
			</ul>
			<select class="selection">
			  <option value="">Either</option>
			  <option value="">Female Only</option>
			  <option value="">Male Only</option>
			</select>
			
			<ul class="nav_selections" style="margin-top:60px;">
				<li>service provider</li>
			</ul>
			<select  class="selection">
			  <option value="">Any</option>
			  <option value="">Billy</option>
			  <option value="">Bob</option>
			  <option value="">Mary</option>
			  <option value="">Jean</option>
			</select>
			
			<ul class="nav_selections" style="margin-top:60px;">
				<li>options</li>
			</ul>
			<select class="selection">
			  <option value="">Any</option>
			  <option value="">+50 Cleopatra Milk Bath</option>
			  <option value="">+40 Marine Bath</option>
			  <option value="">+25 Rose Bath</option>
			</select>
		</div>{# end of left nav #}
		
		<div id="nav_right">
			<div id="header_service">60 minute Shiatsu massage at Nob Hill Spa</div>
			
			<div class="timeline_nav">
				<div class="pre_btn">< </div>
				<div class="month_txt">Feburary 20 - 24</div>
				<div class="next_btn">> </div>
			</div>
			
			<div style="clear:both;"></div>
			
			<ul class="timeline">
				<li class="first_day">mon 2/20</li>
				<li class="follow_days">tue 2/21</li>
				<li class="follow_days">wed 2/22</li>
				<li class="follow_days">thu 2/23</li>
				<li class="follow_days">fri 2/24</li>
			</ul>
			<div style="clear:both;"></div>
			
			{# start of the morning schedule #}
			<div class="morning">
				{# <div class="mor_title">morning</div> #}
				<div class="day1">
					<div class="day_info">
						9:30 am</br>
						$85
					</div>
					<div class="day_info">
						10:30 am</br>
						$75
					</div>
					<div class="day_info">
						11:30 am</br>
						$105
					</div>
				</div>
				
				
				<div class="days">
					<div class="day_info">
						8:30 am</br>
						$75
					</div>
					<div class="day_info">
						9:00 am</br>
						$85
					</div>
					<div class="day_info">
						9:30 am</br>
						$125
					</div>
					<div class="day_info">
						11:00 am</br>
						$45
					</div>
					<div class="day_info">
						11:30 am</br>
						$155
					</div>
				</div>
				
				<div class="days">
					<div class="day_info">
						9:30 am</br>
						$85
					</div>
					<div class="day_info">
						10:30 am</br>
						$85
					</div>
					<div class="day_info">
						12:00 am</br>
						$85
					</div>
				</div>
				
				<div class="days">
					<div class="day_info">
						9:30 am</br>
						$85
					</div>
					<div class="day_info">
						10:30 am</br>
						$75
					</div>
					<div class="day_info">
						11:30 am</br>
						$105
					</div>
				</div>
				
				<div class="days">
					<div class="day_info">
						8:30 am</br>
						$75
					</div>
					<div class="day_info">
						9:00 am</br>
						$85
					</div>
					<div class="day_info">
						9:30 am</br>
						$125
					</div>
					<div class="day_info">
						11:30 am</br>
						$155
					</div>
				</div>
				
			</div>
			{# end of the morning schedule #}
			
			<div style="clear:both;"></div>
			
			{# start of the afternoon schedule #}
			<div class="afternoon">
				{# <div class="aft_title">afternoon</div> #}
				<div class="day1">
					<div class="day_info">
						12:30 pm</br>
						$45
					</div>
					<div class="day_info">
						1:00 pm</br>
						$75
					</div>
					<div class="day_info">
						1:30 pm</br>
						$125
					</div>
					<div class="day_info">
						2:30 pm</br>
						$135
					</div>
					<div class="day_info">
						3:30 pm</br>
						$135
					</div>
				</div>
				
				
				<div class="days">
					<div class="day_info">
						2:30 pm</br>
						$65
					</div>
					<div class="day_info">
						3:00 pm</br>
						$85
					</div>
					<div class="day_info">
						3:30 pm</br>
						$105
					</div>
					<div class="day_info">
						4:30 pm</br>
						$105
					</div>
				</div>
				
				<div class="days">
					<div class="day_info">
						3:00 pm</br>
						$85
					</div>
					<div class="day_info">
						3:30 pm</br>
						$125
					</div>
					<div class="day_info">
						4:00 pm</br>
						$155
					</div>
				</div>
				
				<div class="days">
					<div class="day_info">
						2:30 pm</br>
						$65
					</div>
					<div class="day_info">
						3:00 pm</br>
						$85
					</div>
					<div class="day_info">
						3:30 pm</br>
						$105
					</div>
					<div class="day_info">
						4:30 pm</br>
						$105
					</div>
				</div>
				
				<div class="days">
					<div class="day_info">
						2:30 pm</br>
						$65
					</div>
					<div class="day_info">
						3:00 pm</br>
						$85
					</div>
					<div class="day_info">
						3:30 pm</br>
						$105
					</div>
					<div class="day_info">
						4:30 pm</br>
						$105
					</div>
				</div>
				
			</div>
			<!--end of the afternoon schedule-->
			
			<div style="clear:both;"></div>
			
			<!--start of the evening schedule-->
			<div class="evening">
				<!--<div class="eve_title">evening</div>-->
				<div class="day1">
					<div class="day_info">
						5:30 pm</br>
						$75
					</div>
					<div class="day_info">
						6:00 pm</br>
						$125
					</div>
					<div class="day_info">
						7:30 pm</br>
						$150
					</div>
				</div>
				
				
				<div class="days">
					<div class="day_info">
						5:30 pm</br>
						$130
					</div>
					<div class="day_info">
						7:00 pm</br>
						$145
					</div>
					<div class="day_info">
						7:30 pm</br>
						$165
					</div>
					<div class="day_info">
						8:30 pm</br>
						$165
					</div>
				</div>
				
				<div class="days">
					<div class="day_info">
						6:00 pm</br>
						$110
					</div>
					<div class="day_info">
						6:30 pm</br>
						$115
					</div>
					<div class="day_info">
						7:00 pm</br>
						$145
					</div>
					<div class="day_info">
						7:30 pm</br>
						$145
					</div>
					<div class="day_info">
						8:30 pm</br>
						$145
					</div>
					<div class="day_info">
						9:00 pm</br>
						$125
					</div>
					<div class="day_info">
						10:00 pm</br>
						$125
					</div>
				</div>
				
				<div class="days">
					<div class="day_info">
						7:00 pm</br>
						$145
					</div>
					<div class="day_info">
						7:30 pm</br>
						$145
					</div>
					<div class="day_info">
						8:30 pm</br>
						$145
					</div>
					<div class="day_info">
						9:00 pm</br>
						$125
					</div>
					<div class="day_info">
						10:00 pm</br>
						$125
					</div>
				</div>
				
				<div class="days">
					<div class="day_info">
						5:30 pm</br>
						$130
					</div>
					<div class="day_info">
						7:00 pm</br>
						$145
					</div>
					<div class="day_info">
						7:30 pm</br>
						$165
					</div>
					<div class="day_info">
						8:30 pm</br>
						$165
					</div>
				</div>
				
			</div>
			<!--end of the evening schedule-->
			
		</div><!--end of right nav-->
	</div><!--end of wrapper-->
	
	<script type="text/javascript">
		
	</script>
	
</body>
</html>
