<!DOCTYPE html>
<html lang="en">
<head>
	<title>Juvu</title>
	<script type="text/javascript" src="../static/js/jquery-1.6.2.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/css/booking.css">
</head>
<body>
	<div class="wrapper">
		<div class="top-nav">
			<h1 style="margin:0;">JUVU</h1>
		</div>
		
		<div class="big_heavy_title">You will not be charged on this page.</div>
		<p class="instruct">
			However, we will use your credit card to reserve the appointment.<br/>
			You will pay (Merchant Name) after the service is completed.<br/><br/>
			<span>
				See (Merchant Name)'s <a href="#" class="link">cancellation policy</a><br/>
				See what (Merchant Name) <a href="#" class="link">accepts as payment methods</a>
			</span>
			</br/>
		</p><!--end of instruction-->
		
		<form>
		
		<div class="confirm_column">
			<ul class="confirm_li">
				<li>billing info:</li>
			</ul>
			<p class="billing_form">
				Name<br/>
				<input type="text" style="width:180px;"/><br/><br/>
				Address<br/>
				<input type="text" style="width:180px;"/><br/>
				City <input type="text" style="width:120px;"/>   
				State 
				<select  class="selection">
				  <option value="">Alabama</option>
				  <option value="">California</option>
				  <option value="">New York</option>
				</select>  
				Zip <input type="text" style="width:45px;"/><br/><br/>
				Card Type<br/>
				<select>
				  <option value="">Master</option>
				  <option value="">Visa</option>
				  <option value="">American Express</option>
				</select><br/><br/>
				
				Card Number<br/>
				<input type="text" style="width:180px;"/><br/><br/>
				
				Expiration Date<br/>
				Month 
				<select  class="">
				  <option value="">Jan</option>
				  <option value="">Feb</option>
				  <option value="">Mar</option>
				</select>
				Year 
				<select  class="">
				  <option value="">2012</option>
				  <option value="">2011</option>
				  <option value="">2010</option>
				</select><br/><br/>
				CVV Code <input type="text" style="width:30px;"/><br/><br/>
			</p>
		</div>
		
		<div class="confirm_column" style="margin-left:24px;">
			<ul class="confirm_li">
				<li>Notification via:</li>
			</ul>
			<p class="billing_form">
				Mobile Phone<br/>
				<input type="text" style="width:180px;"/><br/><br/>
				Mobile Carrier<br/>
				<select  class="">
				  <option value="">AT&T</option>
				  <option value="">Verizon</option>
				  <option value="">T-Mobile</option>
				</select><br/><br/>
				Email<br/>
				<input type="text" style="width:180px;"/><br/><br/>
			</p>
		</div>
		<div style="clear:both;"></div>
		<div class="confirm_area">
			<input type="submit" class="submitBid_btn" value="back"/>  <input type="submit" class="submitBid_btn" value="confirm"/>
		</div>
		</form>
	</div><!--end of wrapper-->
</body>
</html>
