<!DOCTYPE html>
<html lang="en">
<head>
	<title>Juvu</title>
	<script type="text/javascript" src="../static/js/jquery-1.6.2.min.js"></script>
	
    <script type="text/javascript" src="../static/js/d3/d3.js"></script>
    <script type="text/javascript" src="../static/js/d3/d3.time.js"></script>
    <script type="text/javascript" src="../static/js/d3/d3.layout.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css">
</head>
<body>
	<div class="wrapper">
		<div class="top-nav">
			<h1 style="margin:0;">JUVU</h1>
		</div>
		<div class="infoHeader">Merchant Name</div>
		
		<div class="merchant_column">
			<div class="merchant_column_img">
				<img width="320" height="240" src="../static/image/login_04.jpg">
			</div>
			<ul class="confirm_li">
				<li>Merchant Info</li>
			</ul>
			
			<div class="info_left_c">
				<h6>address</h6>
				1234 Market St., San Francisco, CA 91792
				<h6>Neighborhood</h6>
				Civic center / Tenderloin
				<h6>Transporation</h6>
				Parking: garage, street, validated
				<h6>Amenities provided</h6>
				<ul>
					<li>Lockers/Robes</li>
					<li>Steam/Sauna</li>
					<li>Showers</li>
					<li>Pool</li>
				</ul>
				<!--
				<h6>service menu</h6>
				<ul>
					<li>Mink Massage</li>
					<li>Theraputic Massage</li>
					<li>Reflexology</li>
					<li>Tandem Massage</li>
				</ul>
				-->
			</div>
			
			<div class="info_right_c">
				<h6>phone</h6>
				415-123-4567
				<h6>Hours of Operation</h6>
				<b>Mon - Fri</b> 10:00 - 22:00<br/>
				<b>Sat - Sun</b> 10:00 - 17:00<br/>
				<h6>Payment accepted</h6>
				credit card / cash
				<h6>Website</h6>
				www.sample.com
			</div>
		</div>
		
		<div class="merchant_column" style="margin-left:24px;">
			<div class="merchant_maps"></div>
			
			<ul class="confirm_li">
				<li>Merchant supplied content</li>
			</ul>
			
			<ul class="confirm_li">
				<li>Reviews</li>
			</ul>
		</div>
		
		<div style="clear:both;"></div>
		
	</div><!--end of wrapper-->
</body>
</html>
