{% extends "spa_base.html" %}
{% block html_head %}
<script type="text/javascript">

$(function(){

    var fullcal = $("#show").fullCalendar({
        // put your options and callbacks here
        header: {
            left: '',
            center: 'prev,next title',
            right: '',
//            right: 'today',
        },
        defaultView: 'agendaWeek',
        selectable: true,
        weekends: true,
    });

});
</script>
{% endblock %}

{% block title %}Spa Home{% endblock %}
{% block body %}


<div class="row">

<div class="two columns">
Hey!
</div>{# columns #}


<div class="ten columns">
    <div id="show"></div>
</div>{# columns #}

</div>{# row #}




{% endblock %}
