{% extends "signup_base.html" %}
{% block extra_jquery_trigger_code %}
$(".juvume_circle").click(function(){
    window.location.href = {% url booking_home %}
})
{% endblock %}
{% block body %}
		<div class="top-nav"><h1 style="margin:0;">JUVU</h1></div>
		<div class="big_heavy_title">
			Thanks for checking out our Beta!
		</div>
		
		<div class="instruct_signup">
			As we continue to develop, we’d love any <a class="link" href="#">feedback</a> you’d care to give!<br/><br/>
			Juvu.me is going to be a marketplace where you’ll find all kinds of great beauty and
			wellness organizations and providers, all with one goal: to rejuvenate you.<br/><br/>
			
			Many of our partners will be offering awesome discounts. We’re also the first site of its kind
			that will let you take control of the pricing process by bidding on services.
			
			
		</div>{# end of instruction #}
		
		<div class="instruct_signup">
			We have a lot in the development cave, including status levels for users which
			will enable access to bigger discounts as well as other cool perks. Booking an
			appointment through juvu.me with one of our partners will grant our beta testers
			Charter Member status. Which basically means you get to skip right to the good
			stuff when we roll out!<br/><br/>
			
			There’s a contact link at the top right of our menu when you’re ready to tell us how
			we can improve the site and our service.<br/><br/>
			
			Until then, feel free to explore!
			<div class="juvume_circle">juvu me!</div>
		</div>
		<div style="clear:both;"></div>
{% endblock %}
