<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Juvu{% endblock %}</title>
	<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css">
    <script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
    <script type="text/javascript">
	$.backstretch({% block bg_image %}"/static/image/apply_form_bg.png"{% endblock %});
	$(function(){
		$('#backstretch').animate({opacity:0.7},1000);
		{% block extra_jquery_trigger_code %}{% endblock %}
	});
	</script>
</head>
<body>
	<div class="wrapper">
{% block body %}{% endblock %}
	</div>
</body>
</html>
