/*less.js*/
@dark-gray:				#808080;
@light-gray:			#E6E6E6;
@light-blue:			#3FA9F5;

body{
	margin:				0;
	font-family:        "Helvetica","Arial","Sans-serif";
    font-size:          1em;
}

.wrapper{
	width:				1024px;
	margin-left:		auto;
	margin-right:		auto;
}

.top-nav{
	height:				200px;
	background-color:	pink;
}

#nav_left{
	width:				300px;
	height:				800px;
	float:				left;
	/*background-color:	green;
	opacity:			0.3;*/
}

#nav_right{
	width:				724px;
	float:				right;
	padding-bottom:		100px;
}

/*left column*/
.animation{
	position:			absolute;
}

.where{
	top:				93px;
	left:				130px;
	position:			absolute;
	color:				#808080;
}

.when{
	top:				193px;
	left:				133px;
	position:			absolute;
	color:				#808080;
}

.option{
	top:				293px;
	left:				125px;
	position:			absolute;
	color:				#808080;
	text-align:			center;
}

.distance{
	display:			none;
	opacity:			0;
	text-align:			center;
	position:			absolute;
	left:				75px;
	top:				75px;
	color:				#808080;
}

.dis_form{
	display:			none;
	opacity:			0;
	position:			absolute;
	top:				210px;
	font-size:			0.8em;
	color:				#808080;
	line-height:		1.8em;
	left:				37px;
}

.neighbor{
	display:			none;
	opacity:			0;
	text-align:			center;
	position:			absolute;
	left:				150px;
	top:				125px;
	color:				white;
}

.nei_form{
	display:			none;
	opacity:			0;
	color:				#808080;
	text-align:			left;
	position:			absolute;
	width:				300px;
	top:				190px;
	left:				50px;
	font-size:			0.8em;
}

.submit_btn{
	border-radius:		5px;
	background-color:	#E6E6E6;
	color:				#808080;
	border:				none;
	padding:			3px;
	font-size:			1em;
}

.submit_btn:hover{
	background-color:	#3FA9F5;
	color:				white;
	text-shadow:		none;
}

.today{
	display:			none;
	opacity:			0;
	position:			absolute;
	left:				85px;
	top:				235px;
	color:				#808080;
}

.date{
	display:			none;
	opacity:			0;
	position:			absolute;
	left:				157px;
	top:				295px;
	color:				white;
}

.date_form{
	display:			none;
	opacity:			0;
	position:			absolute;
	font-size:			0.8em;
	color:				#808080;
	line-height:		1.8em;
	top:				400px;
	left:				15px;
}

.op_list{
	display:			none;
	opacity:			0;
	position:			absolute;
	font-size:			0.8em;
	color:				#808080;
	top:				400px;
	list-style-type:	none;
	line-height:		1.8em;
	text-align:			center;
	font-weight:		bold;
	width:				300px;
	padding-left:		0;
}

.op_list ul li{
	float:				left;
	list-style-type:	none;
	font-weight:		normal;
	cursor:				pointer;
}

.op_list ul li:hover{
	color:				#3FA9F5;
}



/*right column*/
.m_row{
	margin-top:			30px;
	float:				left;
}

.m_img{
	float:				left;
}

.m_info{
	float:				right;
	text-align:			left;
	width:				472px;
	margin-left:		12px;
}

.m_name{
	font-size:			1.2em;
	font-weight:		bold;
	color:				black;
	border-bottom:		3px solid black;
	padding-left:		12px;
	letter-spacing:		0.05em;
}

.m_itemsName{
	font-weight:		bold;
	list-style-type:	disc;
	padding-left:		12px;
	font-size:			0.8em;
	text-transform:		uppercase;
	margin-top:			8px;
	height:				15px;
	margin-bottom:		0;
}

.service{
	float:				left;
	width:				140px;
}

.price{
	float:				left;
	width:				100px;
}

.discount{
	float:				left;
	width:				95px;
}

.m_items{
	list-style-type:	none;
	padding-left:		12px;
	font-size:			0.8em;
	line-height:		28px;
	margin-top: 		5px;
	float:				left;
	margin-bottom: 		0;
	margin-top:			0;
}

.m_items li{
	border-bottom:		1px dotted #808080;
	height:				26px;
}

.b_btn{
	width:				50px;
	background-color:	#808080;
	color:				white;
	float:				left;
	text-align:			center;
	margin-left:		12px;
	border-radius: 		3px;
	vertical-align:		baseline;
	line-height:		20px;
	padding-top:		2px;
	padding-bottom:		1px;
	cursor:				pointer;
}

.b_btn:hover{
	background-color:	#3FA9F5;
}

.more_btn{
	width:				50px;
	color:				#808080;
	background-color:	#E6E6E6;
	text-align:			center;
	font-size:			0.8em;
	float:				left;
	border-radius: 		3px;
	line-height:		20px;
	margin-left:		12px;
	margin-top:			6px;
	cursor:				pointer;
}

.more_btn:hover{
	color:	#3FA9F5;
}

