h1.arch {
    color: #7FBA02;
    text-shadow: 1px 1px 1px #000;
    font-family: Pacifico;
    margin: 7px 0 0 15px;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: .8;
}

.main {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 2em;
}

label {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

label:hover {
    background-color: #ccc;
}

.trenche_list {
    padding-left: 0.75em;
    font-size: smaller;
}

select {
	color: #7f7f7f;
	font-size: 24px !important;
	padding: 4px 5px !important;
	border: solid 1px #bbbbbb;
}


