@fg: #003300;
@bg: lighten(@fg, 80%);
@logo_color: #7FBA02;
@logo_hover_color: #5f8b01;


#logotype {
	font-family: Pacifico; 
	font-size: 42px;
	font-size: 4.2rem;	
	color: @logo_color;

    a {
	    color: @logo_color;
    }

    a:hover {
	    color: @logo_hover_color;
    }

}

#hull {
    color: @fg;
}

#hoo {
    color: @fg;

    h2 {
        color: @fg;
    }
}

#boy {
    border: solid @fg 1px;
}

.tile {
    padding: 0.25em;
    background-color: spin(@bg, 30);
    border: solid @fg 1px;
    margin-bottom: 0.5em;
}

.clip {
    font-size: smaller;
}
