@fg: #787D78;
@bg: #fff;
@faded_fg: #C8D1C8;
@logo_color: #7FBA02;
@logo_hover_color: #5f8b01;
@call_out: #FFF;
@foundation_link_blue: #2A85E8;

@title_font: 'Josefin Sans', sans-serif;
@body_font: 'Istok Web', serif;
@prose_font: 'Philosopher', serif;

.title {
    font-family: @title_font;
    font-weight: 100;
    color: black;
}

.rounded-corners (@radius: 0.5em) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

.blueman {
    font-family: @title_font;
    background-color: @foundation_link_blue;
	font-size: larger;
}

.button_bar_bottom {
    text-align: right;
    padding-right: 1em;
    padding-bottom: 1em;
}

#logotype {
	font-family: Pacifico; 
	font-size: 42px;
	font-size: 4.2rem;	
	color: @logo_color;

    a {
	    color: @logo_color;
    }

    a:hover {
	    color: @logo_hover_color;
    }

}

#crumbs {
    .title;
    h3 {
        font-weight: normal;
        a {
            padding: 4px;
        }
    }
    .indicate {
        color: @bg;
        background-color: @foundation_link_blue;
    }
}

#hull {
    color: @fg;
    background-color: @bg;
}

#pane0 {
}

.pane {
    h2 {
        .title;
    }
    div.fpo {
        text-align: center;
        padding-top: 20em;
        padding-bottom: 20em;
    }
}

#hoo {
    color: @fg;

    h2 {
        .title;
    }

    form {
        margin-bottom: 9px;
    }
}

#boy {}

#staff_members {
    padding-left: 0.5em;
}

.tile {
    font-family: @body_font;
    padding: 0.25em;
    margin-left: -0.25em;
    border: solid transparent 1px;
    .rounded-corners;
    margin-bottom: 0.5em;
}

.tile:hover {
    background-color: @call_out;
    border-color: lighten(@fg, 20%);
}

.clip {
    font-size: smaller;
}

.cake {
    font-family: @body_font;
    h3 {
        .title;
    }
}

input#staff_name {
    display: inline-block;
    font-family: @body_font;
}

label {
    font-family: @body_font;
}
