@fg: #787D78;
@bg: #fff;
@faded_fg: #C8D1C8;
@logo_color: #7FBA02;
@logo_hover_color: #5f8b01;
@call_out: #FFF;

.rounded-corners (@radius: 0.5em) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

.rounded-right-tab-corners (@radius: 0.5em) {
	border-top-right-radius: @radius;
	border-bottom-right-radius: @radius;
}

.call {
    padding: 0.25em;
    background-color: @call_out;
    border: solid @fg 1px;
}

#logotype {
	font-family: Pacifico; 
	font-size: 42px;
	font-size: 4.2rem;	
	color: @logo_color;

    a {
	    color: @logo_color;
    }

    a:hover {
	    color: @logo_hover_color;
    }

}

#hull {
    color: @fg;
    background-color: @bg;
}

#hoo {
    color: @fg;

    h2 {
        color: @fg;
    }
}

#boy {}

#staff_members {
    padding-left: 0.5em;
}

.tile {
    .call;
    .rounded-corners;
    margin-bottom: 0.5em;
}

.clip {
    font-size: smaller;
}

.cake {
    h3 {
        color: @fg;
    }
}

input#staff_name {
    display: inline-block;
}
