.dealcal table {
    border-collapse: collapse;
    border-bottom: 1px solid black;
}

.dealcal th {
    vertical-align: top;
    height: 2em;
    font-size: x-small;
    padding: 2px;
    border-bottom: 1px solid black;
}

.dealcal td {
    vertical-align: top;
    height: 4em;
    font-size: x-small;
    padding: 2px;
    border-bottom: 1px dashed black;
}

.dealcal td a {
    text-decoration: underline;
}

.dealcal td a:hover {
    color: #fff;
    background-color: #2A85E8;
}

.dealcal td .low_price {
    color: green;
    background-color: yellow;
}

