@logo_color: #7FBA02;
@logo_hover_color: #5f8b01;

@title_font: 'Josefin Sans', sans-serif;
@body_font: 'Istok Web', serif;

html {
	font-size: 62.5%;
}

body {
	background-color: #eee;
	font-family: @body_font;
}

h3 {
    font-family: @title_font;
    font-weight: normal;
}

table {
    width: 45%;
    font-family: @body_font;
    h3 {
    	padding: 1em;
    }
}

#tagline {
	font-size: 30px;
	font-size: 3.0rem;
	color: @button_blue;
	margin-top: -20px;
	margin-bottom: 36px;
	text-align: center;
}

	#treatment {
		font-size: 22px !important;
		font-size: 2.2rem !important;
		color: #7f7f7f;
		width: 160px;
		padding:  5px 15px !important;
		border:  solid 1px #bbbbbb;
	}

    #location {
		font-size: 22px !important;
		font-size: 2.2rem !important;
		color: #7f7f7f;
		width: 220px;
		padding:  5px 15px !important;
		border:  solid 1px #bbbbbb;
    }

	#datepicker {
		font-size: 22px !important;
		font-size: 2.2rem !important;
		color: #7f7f7f;
		width: 160px;
		padding:  5px 5px !important;
		border:  solid 1px #bbbbbb;
	}

	select {
		font-size: 22px !important;
		font-size: 2.2rem;
		color: #7f7f7f;
		padding: 4px 5px !important;
		border: solid 1px #bbbbbb;
		display: inline;
	}

	option {
		font-style: italic;
	}
	
	#adv_search {
	    border: 1px solid black;
	    padding: 0.5em;
	}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: .8;
}


#datepicker {
	width: 50%;
}
option {
	font-style: italic;
}

#adv_search {
    border: 1px solid black;
    padding: 0.5em;
}

