@title_font: 'Josefin Sans', sans-serif;
@body_font: 'Philosopher', serif;

body {
    font-family: @body_font;
}

.hull {
    min-height: 565px;
}

.title {
    font-family: @title_font;
    font-weight: 100;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    .title;
}

#title_bar {
    h1, h3 {
        display: inline-block;
    }
}

#toc {
    text-align: right;
}

