table.tablesorter {
	font-size: 12px;
	background-color: #efe;
	width: 100%;
	border: 1px solid #000;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-color: #6E6E6E;
}
table.tablesorter td {
	color: #003300;
	padding: 5px;
}
table.tablesorter .even {
	background-color: #efe;
}
table.tablesorter .odd {
	background-color: #dfd;
}
table.tablesorter .header {
	background-image: url(/static/bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #003300;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #003300;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(/static/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(/static/desc.png);
	background-repeat: no-repeat;
}
