{% extends "base.html" %}
{% block title %}Juvu{% endblock %}
{% block html_head %}
{# Template ================================================= #}
<script id="result_template" type="text/x-jquery-tmpl">
{% include "templates.inv.html" %}
</script>
{# ========================================================== #}
    <script type="text/javascript" src="../static/js/d3/d3.js"></script>
    <script type="text/javascript" src="../static/js/d3/d3.time.js"></script>
    <script type="text/javascript" src="../static/js/d3/d3.layout.js"></script>
    <script type="text/javascript" src="../static/js/booking/inv.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css">
    <script type="text/javascript">
		//color, size
		var first_color = "#E6E6E6",
		    second_color = "#808080",
		    third_color = "#3FA9F5",
		    hover_color = "#C6E6FC",
		    c_size = 30,
		    oc,
		    s_canvas;

		$(function(){
			
			var s_canvas = d3.select(".canvas").append("svg:svg");
			s_canvas
				.attr("width", 300)
				.attr("height", 1000)
				.attr("class", "s_canvas");
			
			//FIXME: add two circles amenities & merchants (no functions) - chinpin
			s_canvas.append("svg:circle")
				.attr("cx",150)
				.attr("cy",400)
				.attr("r",c_size)
				.attr("fill",first_color)
				.attr("class","c_amenities")
				.on('mouseover', function(){
					changeColor($(this));
				})
				.on('mouseout', function(){
					changeBack($(this));
				});
			
			//html
			$('.amenities').mouseover(function(){
				changeColor($('.c_amenities'));
			});
			
			$('.amenities').mouseout(function(){
				changeBack($('.c_amenities'));
			});
			
			s_canvas.append("svg:circle")
				.attr("cx",150)
				.attr("cy",500)
				.attr("r",c_size)
				.attr("fill",first_color)
				.attr("class","c_merchants")
				.on('mouseover', function(){
					changeColor($(this));
				})
				.on('mouseout', function(){
					changeBack($(this));
				});
			
			//html
			$('.opt_merchant').mouseover(function(){
				changeColor($('.c_merchants'));
			});
			
			$('.opt_merchant').mouseout(function(){
				changeBack($('.c_merchants'));
			});
			
			
			//where
			s_canvas.append("svg:circle")
				.attr("cx",150)
				.attr("cy",100)
				.attr("r",c_size)
				.attr("fill",first_color)
				.attr("class","c_where")
				.on("click",function(){
					/*depend on what user selects from previous page*/
					clickNeighbor();
					//or clickDistance();
				})
				.on('mouseover', function(){
					changeColor($(this));
				})
				.on('mouseout', function(){
					changeBack($(this));
				});
			
			//html
			$('.where').mouseover(function(){
				changeColor($('.c_where'));
			});
			
			$('.where').mouseout(function(){
				changeBack($('.c_where'));
			});
			
			$('.where').click(function(){
				/*depend on what user selects from previous page*/
				clickNeighbor();
				//or clickDistance();
			});
			
			//when
			s_canvas.append("svg:circle")
				.attr("cx",150)
				.attr("cy",200)
				.attr("r",c_size)
				.attr("fill",first_color)
				.attr("class","c_when")
				.on("click", clickDate)
				.on('mouseover', function(){
					changeColor($(this));
				})
				.on('mouseout', function(){
					changeBack($(this));
				});
			
			//html
			$('.when').mouseover(function(){
				changeColor($('.c_when'));
			});
			
			$('.when').mouseout(function(){
				changeBack($('.c_when'));
			});
			
			$('.when').click(clickDate);
			
			//options
			s_canvas.append("svg:circle")
				.attr("cx",150)
				.attr("cy",300)
				.attr("r",c_size)
				.attr("fill",first_color)
				.attr("class","c_op")
				.on("click", clickOption)
				.on('mouseover', function(){
					changeColor($(this));
				})
				.on('mouseout', function(){
					changeBack($(this));
				});
			
			//html
			$('.option').mouseover(function(){
				changeColor($('.c_op'));
			});
			
			$('.option').mouseout(function(){
				changeBack($('.c_op'));
			});

			$('.option').click(clickOption);

			//distance & neighboehood
			s_canvas.append("svg:circle")
				.attr("cx",105)
				.attr("cy",80)
				.attr("r",0)
				.attr("fill",first_color)
				.attr("class","c_dis")	
				.on("click",function(){
					$(this).attr('fill',first_color);
					clickDistance();
				})
				.on('mouseover', function(){
					changeColor($(this));
				})
				.on('mouseout', function(){
					changeBack($(this));
				});
			
			$('.distance').mouseover(function(){
				changeColor($('.c_dis'));
			});
			
			$('.distance').mouseout(function(){
				changeBack($('.c_dis'));
			});
			
			$('.distance').click(clickDistance);


			s_canvas.append("svg:circle")
				.attr("cx",200)
				.attr("cy",130)
				.attr("r",0)
				.attr("fill",second_color)
				.attr("class","c_nei")
				.on("click",function(){
					$(this).attr('fill',second_color);
					clickNeighbor();
				})
				.on('mouseover', function(){
					changeColor($(this));
				})
				.on('mouseout', function(){
					changeBack($(this));
				});
			
			$('.neighbor').mouseover(function(){
				changeColor($('.c_nei'));
			});
			
			$('.neighbor').mouseout(function(){
				changeBack($('.c_nei'));
			});
			
			$('.neighbor').click(clickNeighbor);
			
			//today & date --- only have one animation result
			s_canvas.append("svg:circle")
				.attr("cx",105)
				.attr("cy",240)
				.attr("r",0)
				.attr("fill",first_color)
				.attr("class","c_today")
				.on("click",function(){
					original();
				})
				.on('mouseover', function(){
					changeColor($(this));
				})
				.on('mouseout', function(){
					changeBack($(this));
				});
			
			$('.today').mouseover(function(){
				changeColor($('.c_today'));
			});
			
			$('.today').mouseout(function(){
				changeBack($('.c_today'));
			});
			
			$('.today').click(function(){
				original();
			});
			
			s_canvas.append("svg:circle")
				.attr("cx",200)
				.attr("cy",300)
				.attr("r",0)
				.attr("fill",second_color)
				.attr("class","c_date")
				.on("click",function(){
					$(this).attr('fill',second_color);
					clickDate();
				})
				.on('mouseover', function(){
					changeColor($(this));
				})
				.on('mouseout', function(){
					changeBack($(this));
				});
			
			$('.date').mouseover(function(){
				changeColor($('.c_date'));
			});
			
			$('.date').mouseout(function(){
				changeBack($('.c_date'));
			});
			
			$('.date').click(function(){
				clickDate();
			});
			
			$('.submit_btn').click(original)

    $(".b_btn").mouseover(function(){
	    $(this).parent()
	    .find(".service, .price, .discount")
	    .css({'background-color':'#C6E6FC'})
    });
    $(".b_btn").mouseout(function(){
	    $(this).parent()
	    .find(".service, .price, .discount")
	    .css({'background-color':'white'})
    });

    var results = {{ results|safe }};
    MODEL.set_results(_.map(results, function(data){ return new MerchantThing(data) }));

    ko.applyBindings(MODEL);
	
	//FIXME
	//change merchant services position
	$('div[timezone*=1]').css({marginTop:'0px'});
	$('div[timezone*=2]').css({marginTop:'25px'});
	$('div[timezone*=3]').css({marginTop:'50px'});
	$('div[timezone*=4]').css({marginTop:'75px'});
	$('div[timezone*=5]').css({marginTop:'100px'});
	$('div[timezone*=6]').css({marginTop:'125px'});
	$('div[timezone*=7]').css({marginTop:'150px'});
	$('div[timezone*=8]').css({marginTop:'175px'});
	$('div[timezone*=9]').css({marginTop:'200px'});
	$('div[timezone*=10]').css({marginTop:'225px'});
	$('div[timezone*=11]').css({marginTop:'250px'});
	$('div[timezone*=12]').css({marginTop:'275px'});
	$('div[timezone*=13]').css({marginTop:'300px'});
	$('div[timezone*=14]').css({marginTop:'325px'});
	$('div[timezone*=15]').css({marginTop:'350px'});
	$('div[timezone*=16]').css({marginTop:'375px'});
	$('div[timezone*=17]').css({marginTop:'400px'});
	$('div[timezone*=18]').css({marginTop:'425px'});
	$('div[timezone*=19]').css({marginTop:'450px'});
	$('div[timezone*=20]').css({marginTop:'475px'});
	$('div[timezone*=21]').css({marginTop:'500px'});
	$('div[timezone*=22]').css({marginTop:'525px'});
	$('div[timezone*=23]').css({marginTop:'550px'});
	$('div[timezone*=24]').css({marginTop:'575px'});
	
	
	//move price line
	var n = $('.price_line').length;
	var w = n*100;
	var d = 0;
	var p;
	var pixel;
	
	$('.inv_data_width').css({width:w});
	
	$('.pre_move_btn').click(function(){
		p = $('.inv_data_width').css('margin-left').replace(/[^-\d\.]/g, '');
		//console.log(d);
		if(p<0){
			d += 100;
			if(d>0){
				d = 0;
			}
			pixel = d+"px";
			$('.inv_data_width').animate({'margin-left':pixel},500);
		}
	})
	
	$('.next_move_btn').click(function(){
		p = $('.inv_data_width').css('margin-left').replace(/[^-\d\.]/g, '');
		if(p>(600-w)){
			d -= 100;
			if(d<(600-w))
			{
				d = (600-w);
			}
			pixel = d+"px";
			$('.inv_data_width').animate({'margin-left':pixel},500);
		}
	})
	
	
});
</script>
{% endblock %}
{% block body %}
	<div class="wrapper">
		<div class="top-nav">
			<div class="utility"><a href="#">( log out )</a></div>
			<div class="utility"><a href="#">user's account name</a></div>
			<div class="logo">
				<img src="../static/image/logo.png" />
			</div>
		</div>
		
		<div id="nav_left">
			<div class="animation">
				<div class="canvas"></div>
				<div class="where">where</div>
				<div class="when">when</div>
				
				<div class="distance">Distance</div>
				<form method="" action="" class="dis_form">
					<input type="textarea" style="width:30px;height:10px;" /> miles from<br/>
					355 Bryant Street, San Francisco <a href="#">(edit)</a><br/>
					<input type="submit" value="confirm" class="submit_btn" style="margin-left:-7px;margin-top:0px;"/>
					<a href="#" class="submit_btn">test</a>
				</form>
				
				<div class="neighbor">Neighborhood</div>
				<form method="" action="" class="nei_form">
					<p>
						<input type="checkbox" />Richmond/Presidio<br />
						<input type="checkbox" />Marina/Cow Hollow<br />
						<input type="checkbox" />Pacific Heights<br />
						<input type="checkbox" />Russian Hill/Nob Hill<br />
						<input type="checkbox" />Ingleside/Excelsior<br />
						<input type="checkbox" />North Beach/Fisherman's Wharf<br />
						<input type="checkbox" />Union Sq/Civic Ctr/FiDi<br />
						<input type="checkbox" />SoMa/South Beach<br />
						<input type="checkbox" />Haight<br />
					</p>
					<p>
						<input type="checkbox" />Castro<br />
						<input type="checkbox" />Mission<br />
						<input type="checkbox" />Potrero Hill<br />
						<input type="checkbox" />Noe Valley<br />
						<input type="checkbox" />Bernal Heights<br />
						<input type="checkbox" />Twin Peaks<br />
						<input type="checkbox" />Sunset/Lake Merced<br />
						<input type="checkbox" />Western Addition<br />
					</p>
					<input type="submit" value="confirm" class="submit_btn" style="margin-left:15px;margin-top:-10px;"/>
					<a href="#" class="submit_btn">test</a>
				</form>
				
				
				<div class="today">Today</div>
				<div class="date">Date Range</div>
				<form method="" action="" class="date_form">
					From <input type="textarea" style="width:60px;"/> to <input type="textarea" style="width:60px;"/>
					<input type="submit" value="confirm" class="submit_btn" style="margin-left:5px;"/>
					<a href="#" class="submit_btn">test</a>
				</form>
				
				<div class="option">options</div>	
				<form method="" action="">
					<ul class="op_list">
						<li>Price from <input type="textarea" style="width:60px;height:10px;"/> to <input type="textarea" style="width:60px;height:10px;"/></li>
						<li>Discount <input type="textarea" style="width:60px;height:10px;"/> %</li>
						<li>Amenities
							<ul>
								<li>Lockers/Robes &nbsp;</li> 
								<li>Steam/Sauna &nbsp;</li>
								<li>Showers &nbsp;</li>
								<li>Pool &nbsp;</li>
							</ul>
							<div style="clear:both;">
						</li>
						<li>Credit Cards</li>
						<li>Public Trans</li>
						<li>Parking</li>
						<li>Me+ <input type="textarea" style="width:30px;height:10px;"/></li>
						<input type="submit" value="confirm" class="submit_btn" style="margin-top:5px;"/>
						<a href="#" class="submit_btn">test</a>
					</ul>
				</form>
				<div class="amenities">amenities</div>
				<div class="opt_merchant">merchants</div>
				
			</div><!--end of animation-->
		</div><!--end of left nav-->
		
		<div id="nav_right">
			<div id="header_service">Therapeutic Massage</div>
			<div class="inv_col">
				<div class="inv_date_wrapper">
					<div class="btn_pre">&lt;</div><!--Put django template tags here-->
					<div class="inv_date">Monday, June 5th, 2012</div>
					<div class="btn_pre">&gt;</div>
				</div>
				
				<div class="inv_grid">
					<div class="line"></div>
					<div class="bold_line"></div>
					<div class="line"></div>
					<div class="bold_line"></div>
					<div class="line"></div>
					<div class="bold_line"></div>
					<div class="line"></div>
					<div class="bold_line"></div>
					<div class="line"></div>
					<div class="bold_line"></div>
					<div class="line"></div>
					<div class="bold_line"></div>
					<div class="line"></div>
					<div class="bold_line"></div>
					<div class="line"></div>
					<div class="bold_line"></div>
					<div class="line"></div>
					<div class="bold_line"></div>
					<div class="line"></div>
					<div class="bold_line"></div>
					<div class="line"></div>
					<div class="bold_line"></div>
					<div class="line"></div>
				</div>
				
				<div class="inv_time">
					<ul>
						<li>9:00</li>
						<li>9:30</li>
						<li>10:00</li>
						<li>10:30</li>
						<li>11:00</li>
						<li>11:30</li>
						<li>12:00</li>
						<li>12:30</li>
						<li>1:00</li>
						<li>1:30</li>
						<li>2:00</li>
						<li>2:30</li>
						<li>3:00</li>
						<li>3:30</li>
						<li>4:00</li>
						<li>4:30</li>
						<li>5:00</li>
						<li>5:30</li>
						<li>6:00</li>
						<li>6:30</li>
						<li>7:00</li>
						<li>7:30</li>
						<li>8:00</li>
						<li>8:30</li>
						<li>9:00</li>
					</ul>
				</div>
				
				<div class="pre_move_btn">&lt;</div>
				<div class="next_move_btn">&gt;</div>
				
				<div class="inv_data">
					<div class="inv_data_width">
						
						<!--merchants data-->
						<div class="price_line">
							<div class="inv_price">&#36;55</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="1">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="2">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="3">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="4">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="5">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="6">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="7">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#3AA9F5;" timezone="14">Therapia</div>
							<div class="inv_merchant" style="background-color:#3AA9F5;" timezone="15">Therapia</div>
							<div class="inv_merchant" style="background-color:#3AA9F5;" timezone="16">Therapia</div>
						</div>
						
						<div class="price_line">
							<div class="inv_price">&#36;70</div>
							<div class="inv_merchant" style="background-color:red;" timezone="4">Thai Spa</div>
							<div class="inv_merchant" style="background-color:red;" timezone="5">Thai Spa</div>
							<div class="inv_merchant" style="background-color:red;" timezone="6">Thai Spa</div>
							<div class="inv_merchant" style="background-color:#7AC943;" timezone="12">Nob Hill</div>
							<div class="inv_merchant" style="background-color:#7AC943;" timezone="13">Nob Hill</div>
							<div class="inv_merchant" style="background-color:#7AC943;" timezone="14">Nob Hill</div>
							<div class="inv_merchant" style="background-color:#7AC943;" timezone="15">Nob Hill</div>
						</div>
						
						<div class="price_line">
							<div class="inv_price">&#36;85</div>
							<div class="inv_merchant" style="background-color:#3AA9F5;" timezone="8">Therapia</div>
							<div class="inv_merchant" style="background-color:#3AA9F5;" timezone="9">Therapia</div>
							<div class="inv_merchant" style="background-color:#3AA9F5;" timezone="10">Therapia</div>
							<div class="inv_merchant" style="background-color:#3AA9F5;" timezone="11">Therapia</div>
							<div class="inv_merchant" style="background-color:#3AA9F5;" timezone="12">Therapia</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="19">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="20">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="21">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="22">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="23">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="24">Thi Spa</div>
						</div>
						
						<div class="price_line">
							<div class="inv_price">&#36;90</div>
							<div class="inv_merchant" style="background-color:#7AC943;" timezone="3">Nob Hill</div>
							<div class="inv_merchant" style="background-color:#7AC943;" timezone="4">Nob Hill</div>
							<div class="inv_merchant" style="background-color:#7AC943;" timezone="5">Nob Hill</div>
							<div class="inv_merchant" style="background-color:#7AC943;" timezone="6">Nob Hill</div>
							<div class="inv_merchant" style="background-color:#7AC943;" timezone="7">Nob Hill</div>
							<div class="inv_merchant" style="background-color:#7AC943;" timezone="8">Nob Hill</div>
							<div class="inv_merchant" style="background-color:red;" timezone="12">Thai Spa</div>
							<div class="inv_merchant" style="background-color:red;" timezone="13">Thai Spa</div>
							<div class="inv_merchant" style="background-color:red;" timezone="14">Thai Spa</div>
							<div class="inv_merchant" style="background-color:red;" timezone="15">Thai Spa</div>
						</div>
						
						<div class="price_line">
							<div class="inv_price">&#36;120</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="10">Tru</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="11">Tru</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="12">Tru</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="13">Tru</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="14">Tru</div>
							<div class="inv_merchant" style="background-color:#009245;" timezone="17">I-Spa</div>
							<div class="inv_merchant" style="background-color:#009245;" timezone="18">I-Spa</div>
							<div class="inv_merchant" style="background-color:#009245;" timezone="19">I-Spa</div>
							<div class="inv_merchant" style="background-color:#009245;" timezone="20">I-Spa</div>
							<div class="inv_merchant" style="background-color:#009245;" timezone="21">I-Spa</div>
							<div class="inv_merchant" style="background-color:#009245;" timezone="22">I-Spa</div>
						</div>
						
						<div class="price_line">
							<div class="inv_price">&#36;125</div>
							<div class="inv_merchant" style="background-color:#D9E021;" timezone="8">Anjalee's massage</div>
							<div class="inv_merchant" style="background-color:#D9E021;" timezone="9">Anjalee's massage</div>
							<div class="inv_merchant" style="background-color:#D9E021;" timezone="10">Anjalee's massage</div>
							<div class="inv_merchant" style="background-color:#D9E021;" timezone="11">Anjalee's massage</div>
							<div class="inv_merchant" style="background-color:#D9E021;" timezone="12">Anjalee's massage</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="20">Tru</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="21">Tru</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="22">Tru</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="23">Tru</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="24">Tru</div>	
						</div>
						
						<div class="price_line">
							<div class="inv_price">&#36;130</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="1">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="2">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="3">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="4">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="5">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="6">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#FF931E;" timezone="7">Thi Spa</div>
							<div class="inv_merchant" style="background-color:#3AA9F5;" timezone="14">Therapia</div>
							<div class="inv_merchant" style="background-color:#3AA9F5;" timezone="15">Therapia</div>
							<div class="inv_merchant" style="background-color:#3AA9F5;" timezone="16">Therapia</div>
						</div>
						
						<div class="price_line">
							<div class="inv_price">&#36;135</div>
							<div class="inv_merchant" style="background-color:#D9E021;" timezone="8">Anjalee's massage</div>
							<div class="inv_merchant" style="background-color:#D9E021;" timezone="9">Anjalee's massage</div>
							<div class="inv_merchant" style="background-color:#D9E021;" timezone="10">Anjalee's massage</div>
							<div class="inv_merchant" style="background-color:#D9E021;" timezone="11">Anjalee's massage</div>
							<div class="inv_merchant" style="background-color:#D9E021;" timezone="12">Anjalee's massage</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="20">Tru</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="21">Tru</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="22">Tru</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="23">Tru</div>
							<div class="inv_merchant" style="background-color:#00CCFF;" timezone="24">Tru</div>	
						</div>
					</div>
				</div>{#end of inv_data#}
			</div>{#end of inv_col#}	
		{# container of information from database #}
		<!--<div data-bind="template: {name:'result_template', foreach:results}"></div>-->{# replace with sql #}
		</div>{# end of right nav #}
		
		<div style="clear:both;"></div>
	</div>{# end of wrapper #}
{% endblock %}
